[2020-01-05 00:13] Booteille opened #4 "TypeError: __init__() got an unexpected keyword argument 'hidden'"
Hi.

I just cloned the repo, installed dependencies and run the script but got a `TypeError`:

[code]

I am using Linux Mint 19.3.

[2020-01-05 08:43] volnes commented on #4
Same here Ubuntu Mate 18.04.3
`sudo python3 auto-cpufreq.py
Traceback (most recent call last):
  File "auto-cpufreq.py", line 382, in <module>
    @click.option("--daemon", is_flag=True, hidden=True)
  File "/usr/lib/python3/dist-packages/click/decorators.py", line 170, in decorator
    _param_memo(f, OptionClass(param_decls, **attrs))
  File "/usr/lib/python3/dist-packages/click/core.py", line 14

[2020-01-05 10:41] AdnanHodzic commented on #4
Hey,

I think both of you have the same problem problem of using older version of "Click" package, can you please tell me which version it is?

`sudo pip3 show Click | grep -i version`

Since I'm almost certain this is the case, could you get latest versions using:

[code]

and let me know if you still have the same issue?

[2020-01-05 11:25] validatedev opened #6 "auto-cpufreq --log seems stopped working"
I cannot be able to see the stream of the log. It just stopped with the following content:
[code]

But right now I'm not on the charging status, that machine goes with the battery.

[code]

[2020-01-05 11:47] volnes commented on #4
Version: 6.7

[2020-01-05 12:20] srbhp opened #7 "Unable to copy to scripts/auto-cpufreq.service"
Unable to copy the scripts/auto-cpufreq.service file to
/lib/systemd/system/auto-cpufreq.service in openSuse.

Correct path should be /usr/lib/systemd/system/auto-cpufreq.service.

Thanks for the auto-cpufreq.

[2020-01-05 12:33] aroundthfur commented on #7
PR ready here: https://github.com/AdnanHodzic/auto-cpufreq/pull/8

[2020-01-05 13:18] validatedev opened #9 "energy_performance_preference doesn't change"
TLP can, but auto-cpufreq doesn't.
Example:
[code]
I removed the auto-cpufreq and configure TLP again. Without TLP, `energy_performance_preference = balance_performance`. scaling_governor is changing without any issue.

[2020-01-05 16:35] AdnanHodzic commented on #7
@aroundthfur merged

@srbhp feel free to re-op[en this if the issue persists.

[2020-01-05 16:35] #7 closed

[2020-01-05 16:43] AdnanHodzic commented on #4
As I pointed out in [requirements installation part](https://github.com/AdnanHodzic/auto-cpufreq#requirements-installation-for-all-other-linux-distributions). You have to use sudo in this case.

Either way, did upgrading click fix your problem?

[2020-01-05 18:09] dannykopping commented on #4
@AdnanHodzic same issue here - followed instructions closely, same result

[2020-01-05 18:11] dannykopping commented on #4
[code]

[2020-01-05 18:39] volnes commented on #4
no on ubuntu 18.04.03 not needed to use sudo for install click an others and yes it's fixed for me

[2020-01-05 18:48] volnes commented on #6
![image](https://user-images.githubusercontent.com/5400851/71784475-ec426c80-3004-11ea-8c64-79e5a8d70ba5.png)
Weird thing after --install log doesnt start and systemd service too...

[2020-01-05 19:13] volnes opened #12 "sudo python3 auto-cpufreq.py --install cant copy file to path "/usr/lib/systemd/system/""
When i trying to install daemon:
`sudo python3 auto-cpufreq.py --install`
there no path "/usr/lib/systemd/system/" on Ubuntu 18.04
![image](https://user-images.githubusercontent.com/5400851/71784792-88ba3e00-3008-11ea-8f36-5541024a538b.png)

![image](https://user-images.githubusercontent.com/5400851/71784779-60cada80-3008-11ea-8d18-927d098e8aab.png)

[2020-01-05 22:03] racuna opened #14 "KeyError: 'coretemp'"
From another directory I got this (file does not exist):
`cp: no se puede efectuar `stat' sobre 'scripts/cpufreqctl.sh': No existe el fichero o el directorio`

But, executing when pwd is inside the directory auto-cpufreq, then the error mensaje is this:

[code]

[2020-01-06 00:58] Booteille commented on #4
By using `pip3 install psutil click distro` (without `sudo`) I was able to upgrade click to version 7.0 (from version 6.7).

Now, running `sudo python3 auto-cpufreq.py` works.

[2020-01-06 06:48] Exorust opened #15 "psutil has no attribute 'sensors_battery'"
Even after I fix errors due to the fact that certain distros don't have /usr/lib/systemd/system/ and instead have /lib/systemd/system/, I still encounter error with psutil.
![Screenshot from 2020-01-06 12-16-50](https://user-images.githubusercontent.com/20578676/71800632-9e6a4a80-307e-11ea-83af-2bdb46c34a66.png)

[2020-01-06 06:49] Lusitaniae commented on #14
did you install all dependencies?

`sudo apt install python3 python3-distro python3-psutil python3-click -y`

What system are you using?

[2020-01-06 06:49] Exorust commented on #12
This issue can be fixed through copying the .service file to /lib/systemd/system instead of /usr/lib/systemd/system

`cp -f scripts/auto-cpufreq.service /lib/systemd/system/auto-cpufreq.service`

[2020-01-06 07:07] Exorust commented on #15
Turns out ubuntu 16.04 ships with older version of psutil when you use, `sudo apt install python3 python3-distro python3-psutil python3-click -y`

[2020-01-06 07:08] Lusitaniae commented on #4
Seems that using apt will install outdated python click, version 6.7

Update it with

`sudo pip3 install --upgrade click`

[2020-01-06 11:20] Exorust opened #16 "The daemon stops the moment I pull out the plug."
Everytime I pull out the plug or plug the laptop in, the daemon crashes.
![Screenshot from 2020-01-06 16-49-58](https://user-images.githubusercontent.com/20578676/71815165-97eec980-30a4-11ea-9c1d-7d75ad68343c.png)

[2020-01-06 12:57] sandersantema opened #17 "Error: Couldn't find any of the necessary scaling governors. AMD CPU possibly not supported?"
I got this error while running the tool with a AMD Ryzen 7 PRO 3700U cpu.

If this error is indeed caused because the AMD cpu isn't supported, might I suggest updating the README to reflect this? If this isn't what's causing the error I'd have to look more into it and I'd gladly provide any needed information.

Output of `sudo tlp-stat -p`
[code]

[2020-01-06 15:44] e4BdSBmUzHowFico5Ktn opened #18 "Traceback when launching"
I receive this traceback when running `sudo python3 auto-cpufreq.py`

`Traceback (most recent call last):
  File "auto-cpufreq.py", line 382, in <module>
    @click.option("--daemon", is_flag=True, hidden=True)
  File "/usr/lib/python3/dist-packages/click/decorators.py", line 170, in decorator
    _param_memo(f, OptionClass(param_decls, **attrs))
  File "/usr/lib/python3/dist-packages/click/core.p

[2020-01-06 18:36] dannykopping commented on #4
That did the trick - thanks @Lusitaniae

[2020-01-06 19:13] magneticleaves commented on #14
I'm also getting this error! I've installed all the listed dependencies.

[code]

[2020-01-06 20:40] zshamrock opened #20 "Doesn't report Architecture"
Probably minor, but when running it doesn't report the architecture, i.e. it is empty:

[code]

[2020-01-06 23:09] Booteille commented on #4
Since there is a solution, I think you can close the issue @AdnanHodzic. But I think you should update the installation instructions to prevent the user click 7.0 is needed.

[2020-01-07 06:11] zshamrock opened #21 "AttributeError: 'NoneType' object has no attribute 'power_plugged'"
My laptop is fully charged, and connected to the socket, and when run `auto-cpufreq --log` see the following error:

[code]

[2020-01-07 06:26] Exorust commented on #21
This is similar to issue #16

[2020-01-07 06:27] Exorust commented on #18
You need to update your click version. Please see issue #4 .

[2020-01-07 07:20] AdnanHodzic commented on #4
@Booteille yes, will do, it seems a lot of issues that arose are based on old package versions.

[2020-01-07 07:20] #4 closed

[2020-01-07 07:31] AdnanHodzic commented on #21
I think these problems could be related to using older package version for "psuti"l which were installed from apt repos:

`sudo pip3 show psutil | grep -i version`

Recommended version should be >= 5.5.1

Hence, could you please try upgrading both using pip3 by running:

`sudo pip3 install --upgrade psutil`

And let me know if the problem still persits after this?

[2020-01-07 07:32] AdnanHodzic commented on #16
As you suggested, I think problem is identical to: https://github.com/AdnanHodzic/auto-cpufreq/issues/21

As I suggested there, I think these problems could be related to using older package version for "psuti"l which were installed from apt repos:

`sudo pip3 show psutil | grep -i version`

Recommended version should be >= 5.5.1

Hence, could you please try upgrading both using pip3 by running:

[2020-01-07 07:33] AdnanHodzic commented on #20
As I said in the other bug report, I think these problems could be related to using older package version for "psuti"l which were installed from apt repos:

`sudo pip3 show psutil | grep -i version`

Recommended version should be >= 5.5.1

Hence, could you please try upgrading both using pip3 by running:

`sudo pip3 install --upgrade psutil`

And let me know if the problem still persits after this

[2020-01-07 07:34] AdnanHodzic commented on #18
Yes, this is correct, please do what @Exorust suggested.

[2020-01-07 07:39] AdnanHodzic commented on #17
When I was making this tool I was strictly targeting Intel, as I didn't have any AMD CPU's to test it. Either way thank you for updating me about this.

As a goal to extend this tool for AMD as well, could you please confirm that in AMD's case, "ondemand" acts like "powersave" for Intel?

And please correct me if I'm wrong, but it seems you have following governors: `ondemand performance schedutil

[2020-01-07 07:43] AdnanHodzic commented on #15
Yes, that's correct, could you please try upgrading both using pip3 by running:

`sudo pip3 install --upgrade psutil`

And let me know if the problem still persits after this?

I'm also going to update README with this information

[2020-01-07 07:44] AdnanHodzic commented on #12
I also believe this issue has been fixed in one of the latest commits, could you please try pulling latest changes and inform me if this is the case?

Thanks

[2020-01-07 07:45] AdnanHodzic commented on #9
I think these problems could be related to using older package version for "psuti"l which were installed from apt repos:

`sudo pip3 show psutil | grep -i version`

Recommended version should be >= 5.5.1

Hence, could you please try upgrading both using pip3 by running:

`sudo pip3 install --upgrade psutil`

And let me know if the problem still persits after this?

[2020-01-07 07:47] volnes commented on #12
nope still trying put file auto-cpufreq.service to /usr/lib/systemd/system/

[2020-01-07 07:58] e4BdSBmUzHowFico5Ktn commented on #18
Thanks, that solved it, as was mentioned in #4 the instructions should indeed be updated, I`m pretty sure its possible to attach library versions to install commands. In conda its something like:
`conda install PACKAGE -vx.y`

[2020-01-07 08:00] e4BdSBmUzHowFico5Ktn commented on #12
I`m also experiencing this issue and pulled less than 15m ago.

[2020-01-07 08:01] #18 closed

[2020-01-07 08:19] Exorust commented on #21
I verified the version of psutil running on my machine is 5.6.7 (on the sudo)

[2020-01-07 08:20] Exorust commented on #6
I have observed that this happens even when the module is active it doesn't seem to log.

[2020-01-07 11:02] validatedev commented on #9
It still persist. Didn't change anything.

[2020-01-07 11:50] juliangaal commented on #12
Applied this, so `auto-cpufreq-install` worked just fine! However, I am stuck with this:

[code]
[code]

[2020-01-07 12:39] zshamrock commented on #20
Still the same. The current version indeed was `5.5.1`, I upgraded it to `5.6.7`, and still it doesn't report the architecture.

[2020-01-07 12:41] zshamrock commented on #21
Still the same. The current version indeed was `5.5.1`, I upgraded it to `5.6.7`, and still encounter this error immediately after the plug is attached, well waiting until the battery is fully charged first.

[2020-01-07 13:08] e4BdSBmUzHowFico5Ktn commented on #12
See the fix at #4, it is also in the readme now

[2020-01-07 14:26] juliangaal commented on #12
Does this path vary from distro to distro?

[2020-01-07 16:35] sandersantema commented on #17
What exactly do you mean by this? Do you want to know whether the governors are practically equal? I would need to look into it. I might be able to find something about that on that on the internet, but if would like me to test things on my hardware I would need to have some more info.

No, you're right but unfortunately it seems auto-cpufreq doesn't recognise them. `sudo cat /sys/devices/system/c

[2020-01-07 16:57] AdnanHodzic commented on #21
@Exorust that's the most confusing part.

@zshamrock can you tell me what do you get when you run (as root):

[code]
If not charging you should get: "False"

And can both of you tell me what Linux distro are you using, and what "driver" does "auto-cpufreq" return when you run it?

[2020-01-07 17:51] AdnanHodzic commented on #12
@juliangaal yes. Problem was that change was made that only makes systemd file work on RedHat based distros.

@Everyone, if you have daemon installed, could you please run: `sudo auto-cpufreq --remove`

* Pull latest changes (`git pull`)
* Re-install (`sudo python3 install auto-cpufreq.py`)

In last commit I made a change which should unify sytemd service across all distributions.

Please let me k

[2020-01-07 17:56] AdnanHodzic commented on #15
Since I also [updated README with this information](https://github.com/AdnanHodzic/auto-cpufreq#requirements-installation-for-debianubuntu-and-their-derivatives), I'm closing the story. Feel free to re-open it if the issue persists.

[2020-01-07 17:56] #15 closed

[2020-01-07 18:07] AdnanHodzic commented on #16
Issue is duplicate of: https://github.com/AdnanHodzic/auto-cpufreq/issues/12

[2020-01-07 18:07] #16 closed

[2020-01-07 18:22] AdnanHodzic commented on #17
From my knowledge of AMD CPU's (which is limited), I think `ondemand` acts and does same thing `powersave` does on Intel CPU's. I asked just in case you knew this information, but since you don't it's fine don't sweat it.

I need one last thing from you, based on which I'd like to make experimental support for AMD, which you could help me by testing it on your hardware. We'll do this in "live" mod

[2020-01-07 18:28] AdnanHodzic commented on #14
I [updated ReadMe file today](https://github.com/AdnanHodzic/auto-cpufreq#requirements-installation-for-debianubuntu-and-their-derivatives) with necessary information.

Since APT packages may contain older version of necessary Python packages, please make sure to have latest version by running: `sudo pip3 install --upgrade psutil click distro`

[2020-01-07 18:40] AdnanHodzic commented on #6
Please correct me if I'm wrong, but you're saying that `auto-cpufreq --log` stops working? Or that it doesn't displays logs anymore?

What would happen if you ran `sudo python3 auto-cpufreq.py --log` from `auto-cpufreq` git repo?

[2020-01-07 18:45] AdnanHodzic commented on #9
Okay, then I'm misunderstanding what the problem is. Could you please elaborate what exactly the problem is?

Thanks

[2020-01-07 18:46] racuna commented on #14
I will try it today, thanks

[2020-01-07 18:50] zshamrock commented on #21
It returns `False`. Although can't test at the moment with the plug attached.

Regards the distro, this is what I am using:

[code]

And driver is `intel_pstate`.

[2020-01-07 18:50] AdnanHodzic commented on #20
Could you please run the following and past back the output:

[code]

Off topic: that's a nice CPU you have there :)

[2020-01-07 18:55] AdnanHodzic commented on #21
Right, okay could you please return the output of:

[code]

[2020-01-07 19:00] zshamrock commented on #20
[code]
Same if running as the normal user.

Thank you ;) Upgraded my laptop this year as well.

[2020-01-07 19:03] volnes commented on #12
@AdnanHodzic well now install works correctly, but systemd unit in Failed status:
![image](https://user-images.githubusercontent.com/5400851/71921077-2b092b80-3199-11ea-85a3-8c51629fe114.png)

[2020-01-07 19:05] zshamrock commented on #20
This is what other `platform` methods report:

[code]

[2020-01-07 19:08] zshamrock commented on #21
Will do.
Again some more of the methods of the `psutil`:

[code]

[2020-01-07 19:11] AdnanHodzic commented on #20
Okay, please pull the latest changes and re-run `auto-cpufreq`, your problem should be fixed. Please confirm,

[2020-01-07 19:13] AdnanHodzic commented on #12
That's weird, you ran `sudo auto-cpufreq --remove` before fetching latest code and re-running `sudo python3 auto-cpufreq.py --install` right?

[2020-01-07 19:14] volnes commented on #12
yes

[2020-01-07 19:17] zshamrock commented on #20
Yes, confirm, it reports correct architecture line now:

`Architecture: x86_64`.

[2020-01-07 19:17] #20 closed

[2020-01-07 19:18] AdnanHodzic commented on #12
Maybe you have leftover files somewhere, could you do:

[code]

[2020-01-07 19:21] volnes commented on #12
sudo systemctl stop auto-cpufreq
sudo systemctl disable auto-cpufreq
sudo rm /etc/systemd/system/auto-cpufreq.service
sudo rm /usr/systemd/system/auto-cpufreq.service
sudo rm /lib/systemd/system/auto-cpufreq.service
sudo systemctl daemon-reload
sudo systemctl reset-failed
sudo python3 auto-cpufreq.py --install

same...unit in failed status

[2020-01-07 19:23] AdnanHodzic commented on #12
[code]

This is what my output looks like, which is identical to yours, except your fails.

What are the contents of your: `/etc/systemd/system/auto-cpufreq.service` file?

[2020-01-07 19:26] volnes commented on #12
[code]

[2020-01-07 19:28] AdnanHodzic commented on #12
[code]

Compared to contents of mine it also looks identical.

If you run it in `sudo python3 auto-cpufreq.py --live` and it works fine, then I would suggest restart the computer, maybe something's not right with your systemd at the moment and then retry with "--install" again.

[2020-01-07 19:34] volnes commented on #12
Works fine

rebooted, same issue here unit in failed status.

btw with `--log`
i've got this:
[code]

[2020-01-07 20:17] AdnanHodzic commented on #12
Okay, your problem has nothing to do with systemd, your problem is old version of click package, which can be fixed by running: `sudo pip3 install --upgrade psutil click distro`

I [updated the ReadMe](https://github.com/AdnanHodzic/auto-cpufreq#requirements-installation-for-debianubuntu-and-their-derivatives) with this information today.

[2020-01-07 20:24] zshamrock opened #22 "Strange system error"
I suddenly start to see that messages appeared from time to time (exact conditions are not yet clear, once it appeared after restoring from the hibernation, another time just in the middle of a running session, literally in all console/terminal window covering whatever is there at the moment):

[code]

Not necessary this is related to `auto-cpufreq`. Could it be related to `tlp` as this was the on

[2020-01-07 20:28] zshamrock commented on #22
Ok, it looks like indeed it is `tlp` issue as described here https://lists.fedoraproject.org/archives/list/kernel@lists.fedoraproject.org/thread/G4HKETHJGN3MBWSPUNDSHNWIJGN343GM/, and the proposed "solution" to hide/silence this error.

[2020-01-07 20:28] #22 closed

[2020-01-07 20:29] AdnanHodzic commented on #22
Yes, as I mentioned, it's very likely that TLP will come with its own set of issues.

[2020-01-08 02:18] dominicdoty opened #23 "Systemd service fails on boot but can be manually started."
Systemd service fails on boot, but runs successfully when started manually (sudo systemctl start auto-cpufreq.service). Suspect that the service needs a different "After" target. Will dig further on my own.

System:
Arch Linux x86_64 5.4.8-arch1-1
Intel i5-4200U
Asus Q501LA 1.0

sudo systemctl status auto-cpufreq.service immediately after boot:
[code]

[2020-01-08 05:51] AdnanHodzic commented on #23
Did you install `auto-cpufreq` using AUR package?

Because yesterday I [added changes that should unify systemd unit deployment](https://github.com/AdnanHodzic/auto-cpufreq/issues/12#issuecomment-571697247) across all distros and I have a feeling AUR package wasn't updated.

I'll reach out to AUR package maintainer regarding this.

In meantime, can you confirm that everything works fine if you fol

[2020-01-08 06:57] validatedev commented on #9
Well, I rethink about that situation and the thing that I'm talking about is not the bug, but missing the feature but don't think that this program supposed to do that. Let me explain the situation with detail. There is an option in TLP which changes the energy_performance_preference setting and energy_perf_policy setting. You can see these settings with `sudo tlp-stat` command. I mean the program

[2020-01-08 07:01] validatedev commented on #6
Yeah it had stopped, reinstalled and that problem has been solved but don't sure it persist. Watching the situation atm.

[2020-01-08 07:12] validatedev commented on #6
Well, it has started to work again. Interesting.

[2020-01-08 07:53] volnes commented on #12
@AdnanHodzic  well thx for your help issue was in not correct rights on home directory
`sudo -H` will fix that issue when install latest packages of psutil and click
![image](https://user-images.githubusercontent.com/5400851/71958621-ccc46300-3201-11ea-8703-d904b4a08664.png)

[2020-01-08 08:17] crian commented on #23
AUR package has been updated. Because of the upstream changes please remove and then install the package.

[2020-01-08 10:17] juliangaal commented on #12
@AdnanHodzic can confirm

is not necessary anymore! Installation works (Ubuntu 18.04) flawlessly now, Thanks for the fix!

[2020-01-08 11:07] zshamrock commented on #21
Now charging, and this is the output:

[code]

Will give it a try when the battery is fully charged.

[2020-01-08 12:03] racuna commented on #14
Hi again. Already installed packages:

[code]

error:

[code]

[2020-01-08 15:06] krnr commented on #21
my distro doesn't return anything on `sensors_battery()` at all!

[code]
[code]

[2020-01-08 15:14] zshamrock commented on #21
Ok, and this is the output when the battery is fully charged
[code]

[2020-01-08 15:50] AdnanHodzic commented on #6
Maybe it has something to do with running an unreleased Ubuntu version.

But not sure, either way I'll close the issue for now and feel free to re-open it, if the problem resurfaces.

[2020-01-08 15:57] AdnanHodzic commented on #12
@juliangaal most welcome :)

[2020-01-08 15:57] #12 closed

[2020-01-08 17:05] sandersantema commented on #17
Thank you for your interest in supporting AMD. `auto-cpufreq/scripts/cpufreqctl.sh --driver` outputs `acpi-cpufreq`.

Assuming the AMD beta support will not lead to hardware damage I'd be willing to test it out :)

[2020-01-08 18:15] AdnanHodzic commented on #9
Right, is this related to [PR you created and then closed](https://github.com/AdnanHodzic/auto-cpufreq/pull/24)?

[2020-01-08 18:23] AdnanHodzic commented on #14
Can you confirm that all these packages are up to date for root user?

[2020-01-08 18:24] racuna commented on #14
I confirm. I installed it as root, even when pip3 give me warnings about not to do it.

[2020-01-08 18:27] AdnanHodzic commented on #21
Please correct me if I'm wrong, but @validatedev did you have this same problem?

@zshamrock could you please try by running with [changes which are made as part of this PR ](https://github.com/AdnanHodzic/auto-cpufreq/pull/25)and let me know if this does anything for you?

Thanks

[2020-01-08 18:35] zshamrock commented on #21
I've tried to run `psutil.sensor_battery()` continuously and plug on and off the AC, and in some cases `sensors_battery()` output was empty:

[code]

[2020-01-08 18:36] validatedev commented on #9
Nope, this is a different case. The closed PR which is referenced by you is the older version of  https://github.com/AdnanHodzic/auto-cpufreq/pull/25 , there is a bug on psutil and I had tried going around that issue, but eventually I found a better solution which works flawlessly. The issue which we’re on should be a feature, not the bug because we didn’t touch any of the options that I referred

[2020-01-08 18:38] validatedev commented on #21
Yes that is the issue that I fixed on the PR. There is a bug on psutil.

[2020-01-08 19:17] dominicdoty commented on #23
Yes, package was installed through the AUR with yay.
Wiping and reinstalling didn't fix the issue,
tried both `pacman -R` and `yay -R` removals, and `pacman` and `yay` installs.

Cloning the git and running `sudo python3 auto-cpufreq.py --install` also doesn't work (the service fails to run after a reboot, but works when manually started). Also note that the service is running successfully immedia

[2020-01-08 20:18] crian commented on #23
The install script  can not copy the script because it is packed in the package. So it is a different path.
But the systemd service gets copied during the install process as you can see in the PKGBUILD.

`install -Dm644 auto-cpufreq.service "$pkgdir/etc/systemd/system/auto-cpufreq.service"`

The AUR package is working fine on my end even after reboot. So it must a fault on your end which is causin

[2020-01-08 22:16] dominicdoty commented on #23
Hm. I'm having trouble digging for possible causes because of the vague failure message in the systemd log.

In the mean time, I was able to force it to work by adding the following to the `[Service]` section of the systemd service file.
[code]

The service still fails on first execution after boot but the second execution succeeds.

[2020-01-09 13:55] marc-vdm opened #26 "[feature request/enhancement] settings file"
Would it be a good idea to have a settings file?

Certain things could be stored here like;
- minimum CPU load before going to turbo
- minimum load factor before going to turbo
- true/false for allowing turboboost to be switched off when on battery
And any other items that can be changed.

[2020-01-09 13:57] loxK commented on #21
The PR fixes the issue for me (Ubuntu 19.10 - 5.3.0-26-generic)

[2020-01-09 15:17] OrionRandD opened #29 "[Request] devuan + mx-linux version (non systemd support)"

[2020-01-09 15:19] OrionRandD commented on #29
Could you make a version of this tool for devuan and mx-linux?
Perhaps you can contact devs for those distros. So that, they can fork you for it to be available on their distros.
I am sure they will be interested in this wonderful tool.

[2020-01-10 05:22] Exorust commented on #6
This problem still arises with the new PR.

The process is running but doesn't log anything.
![Screenshot from 2020-01-10 10-51-30](https://user-images.githubusercontent.com/20578676/72127937-2dd16f80-3397-11ea-9e8e-b0eca6982054.png)

[2020-01-10 07:54] Exorust opened #30 "[feature request] Make an editable config file"
How about making a config file to specify the powersave vs performance and turbo-boost constants, which are currently hardcoded in the set_powersave and mon_powersave and related functions.

This could be a long term goal and would expose tweak-ability in a format similar to tlp.

[2020-01-11 03:10] Exorust commented on #21
This fixes the problem when you connect and disconnect the charger, but when the laptop is suspended, the problem arises again.

[2020-01-11 09:00] validatedev commented on #21
Can you share the output of the ‘auto-cpufreq —log’ when that happens? You are using the https://github.com/AdnanHodzic/auto-cpufreq/pull/25 , right?

[2020-01-11 09:23] validatedev opened #31 "auto-cpufreq --log seems stopped after resume"
Cannot reopen https://github.com/AdnanHodzic/auto-cpufreq/issues/6 myself, so opening the issue again. After suspending and resuming the laptop causes stopping `auto-cpufreq --log` output. It freezes.

[2020-01-11 09:27] validatedev commented on #31
Output of `systemctl status auto-cpufreq`
[code]

[2020-01-11 09:30] validatedev commented on #31
FYI, `sudo python3 auto-cpufreq.py --log` also seems stopped.

[2020-01-11 16:36] Exorust commented on #26
This is similar to #30.

[2020-01-11 16:37] Exorust commented on #31
This is possibly because of saving the .service file in /lib directory instead of the /usr/lib directory.

[2020-01-11 16:38] Exorust commented on #21
Yes I am here is the output: [`auto-cpufreq —log` doesn't work on my machine]

` $   systemctl status auto-cpufreq -n20
● auto-cpufreq.service - auto-cpufreq - Automatic CPU speed & power optimizer for Linux
   Loaded: loaded (/etc/systemd/system/auto-cpufreq.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Sat 2020-01-11 21:37:50 IST; 29min ago
 Main PID: 4760

[2020-01-11 16:44] validatedev commented on #21
Interesting. I have thought that I changed all of the power plugged thingies to power package. Will look at it. Which distro are you using?

[2020-01-11 16:55] validatedev commented on #21
Are you sure my PR has been used? At line 252 my PR is using ‘bat_state = power.PowerManagement().get_providing_power_source_type()’ instead of ‘bat_state = p.sensors_battery().power_plugged’ .

[2020-01-11 17:17] validatedev commented on #31
Do you have have a source for that, or just an intuition?

[2020-01-11 17:19] validatedev commented on #21
Just want to be sure, try the https://github.com/validatedev/auto-cpufreq , it includes all commits + my PR.

[2020-01-12 01:59] Exorust commented on #31
Unfortunately only an intuition, I can't track down where the log is being saved. The logging info is being saved. I can verify that through, `systemctl status auto-cpufreq -n20`. But still `auto-cpufreq --log` doesn't work.

Apart from that, I have also experimented with changing the `service` file and making the following edits,
[code]
Still no result.

[2020-01-12 06:12] AdnanHodzic commented on #21
PR #25 has been merged with master.

@Exorust correct me if I'm wrong, but you're saying that after suspend `auto-cpufreq` will stop working and that's the output you'll get?

Please pull the latest changes and confirm if this is the case, otherwise I'll close this issue.

[2020-01-12 07:06] volnes opened #32 "After latest commit "auto-cpufreq.py --remove" doens't work"
[code]

[2020-01-12 07:10] AdnanHodzic commented on #29
You mean as a package or? Since both are Debian derivatives, this tool should work fine on both distros as is.

Similar suggestion was [raised on Reddit](https://www.reddit.com/r/linux/comments/ejxx9f/github_autocpufreq_automatic_cpu_speed_power/fd5bs67/), and what I'm planning to do is create a snap for this tool in next major release.

[2020-01-12 07:13] AdnanHodzic commented on #6
@Exorust I merged PR #25

If this problem is still there with latest changes, could you tell me what's the output of running:

[code]

[2020-01-12 07:16] AdnanHodzic commented on #30
I like this idea. My idea (which I had in plan for one of the future releases) was to allow users to specify these themselves using CLI. Something like having another "advanced" mode which would allow you to easily/interactively tweak these to your own liking.

[2020-01-12 07:24] #6 closed

[2020-01-12 07:27] AdnanHodzic commented on #26
Duplicate of #30 but let's continue the discussion here.

As I suggested in #30

what you're proposing here would make perfect sense. In meantime I just want to think about what would be simpler option for the end user. Adding these interactively through a CLI or a "settings" file.

[2020-01-12 07:27] AdnanHodzic commented on #30
Duplicate of #26 let's continue the discussion there.

[2020-01-12 07:27] #30 closed

[2020-01-12 07:29] AdnanHodzic commented on #31
@Exorust can you update me [with what I suggested](https://github.com/AdnanHodzic/auto-cpufreq/issues/6#issuecomment-573389224) in #6

[2020-01-12 07:33] AdnanHodzic commented on #32
I just merged PR #25 which requires "power" package.

The problem is that you're missing "power" package? If you've [followed README instructions](https://github.com/AdnanHodzic/auto-cpufreq#install-requirements), this should not be the case.

What's the output of:

[code]

[2020-01-12 07:35] volnes commented on #32
my bad...was missing that, sorry!

[2020-01-12 07:35] #32 closed

[2020-01-12 08:44] e4BdSBmUzHowFico5Ktn commented on #26
I would personally say that a file gives a good overview to users of what settings there are and how they could be changed, and perhaps implementation is easier, but I'm not sure of that.
 However, there are probably more opinions on this so I`d be happy to hear those.

[2020-01-12 10:33] swetoast opened #33 "ARM Devices"
[code]

Seems that it can read the CPU temp easily fixed by adding

cat /sys/devices/virtual/thermal/thermal_zone0/temp

For checking temp if not available via the pypi packages :)

anyways thanks for a great tool

[2020-01-12 10:55] poVoq commented on #26
Maybe at least some default presets would be good? For example one that stays low as long as possible and only switches to performance when starting a game for something like that?
Right now it seems quite trigger happy with switching up the CPU speed on regular browser use quite often.

[2020-01-12 11:21] Exorust commented on #31
Its empty

[2020-01-12 12:00] AdnanHodzic commented on #31
Then something is terribly wrong. Can you tell me what distro are you using, along with Python version and version for psutil, click, power packages.

[2020-01-12 13:06] AdnanHodzic commented on #26
Let's no go with what's _easiest_ to implement, let's go with what's _best_ to implement :)

Having various presets is also a good idea.

I agree that in current implementation it is trigger happy. I'm thinking of different ways to make it less this way, by possibly combining both input from load and CPU usage (and then in future also CPU temperature + fan speeds).

Either way I'll be thinking wha

[2020-01-12 14:23] zshamrock commented on #6
I pushed the latest master with #25 in it and has been running the tool for a while. So far no issue, everything works well.

Minor likely, even when the laptop is fully charged it says "Battery is: charging ", although it doesn't cause any issue or misbehavior.

[2020-01-12 14:43] AdnanHodzic commented on #6
Great!

Yes I noticed this as well, but it's not a problem, it's how the library works.

[2020-01-12 14:44] validatedev commented on #6
We can change `charging` with `AC` .

[2020-01-12 14:47] validatedev commented on #31
That command sometimes freezes, sometimes works. Interesting.

[2020-01-12 15:01] AdnanHodzic commented on #6
I think `charging` is okay. Because if you think about it that's exactly what's happening when the cable is plugged in.

[2020-01-12 15:03] AdnanHodzic commented on #33
Thanks, I'll add this on ToDo list for the next release.

[2020-01-12 15:41] validatedev commented on #31
We can do something with the changes on the .py file. Will trying to redirect the stdout to log file directly.

[2020-01-12 17:58] validatedev commented on #31
@AdnanHodzic Could you reproduce the issue with `systemctl restart auto-cpufreq.service` command?

[2020-01-12 19:56] validatedev commented on #31
@Exorust Could you have a chance for trying the PR?

[2020-01-13 01:53] Exorust commented on #21
The latest changes seem to be working. I have been running it for almost 20 hours and it seems to be stable.

[2020-01-13 01:55] Exorust commented on #31
I'm using Ubuntu 16.04, psutil 5.4.8, click 7.0, power 1.4 and python 3.5.2

[2020-01-14 12:41] AdnanHodzic commented on #21
Great, in that I'm close this issue.

[2020-01-14 12:41] #21 closed

[2020-01-14 13:36] OrionRandD commented on #29
@AdnanHodzic What I mean is that Devuan and Mx-linux do not use systemd. So it won't work there. You can have a look on Devuan and Mx init system explanations

[2020-01-14 20:16] rur0 commented on #17
Hi
I'm also trying to run this program on a Ryzen 7 3700U CPU and getting the same error.

it looks like I only have access to "performance" and "schedutil" governors.
[code]

to add, I am using kernel 5.4.6-2

Thanks

[2020-01-15 07:24] AdnanHodzic commented on #29
Ah right, okay I'll add ToDo item to implement ability for `auto-cpufreq` to also work without systemd.

[2020-01-15 07:42] AdnanHodzic commented on #31
Can everyone who has this problem, run following:

[code]

and see if you still have logs stopping after suspend/hibernate.

[2020-01-15 09:47] OrionRandD commented on #29
Thx.

[2020-01-20 19:24] aldorgan opened #36 "just a headsup about "Necessary pre-requisites on fedora/redhat" on centos 8"
I have centos 8 on this machine and python-devel does not exist on here but a package called platform-python-devel did the trick :)

[2020-01-24 15:18] andreacocci95 opened #37 "Error starting"
Hi, when I try to run your software I receive this error message:

[code]

How can I resolve this? Thanks in advance!

[2020-01-24 22:26] notaduck opened #38 "Cannot --install auto-cpufreq"
I just installed auto-cpugreq from AUR on Manjaro and decided to use --install after I tested it live, however I'm getting this output

[code]
I've been trying to search for the file "auto-cpufreq-remove.sh" with no results at all.

[2020-01-25 07:06] AdnanHodzic commented on #38
Since I didn't write the AUR package myself but it was done by a contributor @crian, and since there was a similar problem in [#23](https://github.com/AdnanHodzic/auto-cpufreq/issues/23) you might want to [install `auto-cpufreq` from source](https://github.com/AdnanHodzic/auto-cpufreq#get-auto-cpufreq-source-code).

And then simply installing [necessary packages using pip](https://github.com/Adnan

[2020-01-25 07:07] AdnanHodzic commented on #37
Can you verify you're running all the latest Python packages, i.e:
[code]

[2020-01-25 10:25] andreacocci95 commented on #37
I receive this message after the send your command
[code]

[2020-01-26 10:17] smarambas commented on #31
@AdnanHodzic I had the same problem with the logs freezing but after applying @validatedev's fix it seems to work again after suspend/hibernate. Just to know, I'm using Fedora 31, python 3.7.6, psutil 5.6.3, click 7.0 and power 1.4.
Anyway, thanks for this nice tool.

[2020-01-27 08:04] notaduck commented on #38
@AdnanHodzic Thanks for the reply, your suggested solution worked without any hick ups! Thanks.

[2020-01-27 08:04] #38 closed

[2020-02-09 13:58] AdnanHodzic commented on #36
Could you please try using "auto-cpufreq-installer" which is [available as part of snap branch](https://github.com/AdnanHodzic/auto-cpufreq/tree/snap)?

I've also added package you included here to be installed in case CentOS detected. Thanks

[2020-02-10 19:24] Incedis opened #39 "Import error when launching 'sudo auto-cpufreq --install'"
Greetings,

OS: Ubuntu 19.10

Installed from source. Added required packages with PIP.
Tried to install and got error below

Traceback (most recent call last):
  File "/usr/bin/auto-cpufreq", line 11, in <module>
    import psutil
  File "/usr/local/lib/python3.7/dist-packages/psutil/__init__.py", line 96, in <module>
    from . import _pslinux as _psplatform
  File "/usr/local/lib/python3.7/dist-

[2020-03-15 10:35] paulhewson commented on #31
Hi, I have the same issue with logs here (Ubuntu 19.10 - python3 3.7.5-1).
Tried the fix you're suggesting but I have some problems with the validatedev git repo

[code]

[2020-03-15 10:44] validatedev commented on #31
I deleted the repo. Let me create again.

[2020-03-15 10:52] validatedev commented on #31
@paulhewson and everyone, please try this:
[code]

[2020-03-15 10:55] paulhewson commented on #31
Ok, thanks, I have downloaded your repo, so now I'm going to suspend my laptop, resume it and see if logs for auto-cpufreq work.
One curiosity: so your repo is basically this auto-cpufreq with the addition of this fix for log files, isn't it?

[2020-03-15 12:24] validatedev commented on #31
Yes, it is just this. In addition, in new version that fix has been merged (in snap branch). You can safely continue to use my repo until the new version of the program appears.

[2020-03-16 15:38] AdnanHodzic commented on #31
@validatedev thank you for your assistance.

@paulhewson I've merged all the changes which were made as part of `snap` package into `master`. Please pull the latest changes.

Since this problem is now fixed, I'll close this bug report.

[2020-03-16 15:38] #31 closed

[2020-03-16 17:30] Desmo5574 commented on #14
Hey there!
I have the same problem as well...updated the packages with pip

----------------------------- System information ------------------------------

Linux distro: Maui 17.06 xenial
Linux kernel: 5.3.0-23-generic
Driver: acpi-cpufreq
Architecture: x86_64
Processor: AMD Phenom(tm) II X6 1090T Processor
Cores: 6

------------------------------ Current CPU states ------------------------------

[2020-03-17 09:37] filippofontana opened #42 "ERROR: /etc/systemd/system/auto-cpufreq.service:9: Executable path is not absolute: auto-cpufreq --daemon"
Hi,
firstly thank you for this amazing tool for Linux, in the past days I used the previous version with any issues (except for the log freeze), today I saw the new update and I followed the new installation instructions.
With the new installer I encoutered this **pip** warning:

_WARNING: The directory '/home/filip/.cache/pip' or its parent directory is not owned or is not writable by the current

[2020-03-19 15:43] Wrizz opened #43 "failed to install from aur"
install: cannot stat 'auto-cpufreq.py': No such file or directory
==> ERROR: A failure occurred in package().
    Aborting...
Error making: auto-cpufreq-git

I got this error, is there a fix?

[2020-03-19 21:41] AdnanHodzic commented on #43
@crian is the maintainer of AUR package, so could you please both gives an update? Also, I remember somewhere you mentioned it would be if there were releases, now [there are as I released v1.0](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/1.0).

@Wrizz until there's an update to AUR package, I'd suggest you to use [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq#in

[2020-03-19 21:44] AdnanHodzic commented on #39
What happens if you run [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq#installing-auto-cpufreq)?

I also released [ `auto-cpufreq` to Snap store](https://snapcraft.io/auto-cpufreq/) which would definitely fix your problem. But as [I stated for full functionality](https://github.com/AdnanHodzic/auto-cpufreq#snap-store) `auto-cpufreq` needs snapd version 2.4.4 which is currentl

[2020-03-19 21:45] AdnanHodzic commented on #42
What happens if you run [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq#installing-auto-cpufreq)?

I also released [ `auto-cpufreq` to Snap store](https://snapcraft.io/auto-cpufreq/) which would definitely fix your problem. But as [I stated for full functionality](https://github.com/AdnanHodzic/auto-cpufreq#snap-store) `auto-cpufreq` needs snapd version 2.4.4 which is currentl

[2020-03-19 21:45] AdnanHodzic commented on #37
What happens if you run [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq#installing-auto-cpufreq)?

I also released [ `auto-cpufreq` to Snap store](https://snapcraft.io/auto-cpufreq/) which would definitely fix your problem. But as [I stated for full functionality](https://github.com/AdnanHodzic/auto-cpufreq#snap-store) `auto-cpufreq` needs snapd version 2.4.4 which is currentl

[2020-03-19 21:46] AdnanHodzic commented on #36
Closing due to inactivity.

[2020-03-19 21:46] #36 closed

[2020-03-19 21:46] AdnanHodzic commented on #23
What happens if you run [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq#installing-auto-cpufreq)?

I also released [ `auto-cpufreq` to Snap store](https://snapcraft.io/auto-cpufreq/) which would definitely fix your problem. But as [I stated for full functionality](https://github.com/AdnanHodzic/auto-cpufreq#snap-store) `auto-cpufreq` needs snapd version 2.4.4 which is currentl

[2020-03-19 21:47] AdnanHodzic commented on #14
What happens if you run [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq#installing-auto-cpufreq)?

I also released [ `auto-cpufreq` to Snap store](https://snapcraft.io/auto-cpufreq/) which would definitely fix your problem. But as [I stated for full functionality](https://github.com/AdnanHodzic/auto-cpufreq#snap-store) `auto-cpufreq` needs snapd version 2.4.4 which is currentl

[2020-03-19 21:47] AdnanHodzic commented on #9
What happens if you run [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq#installing-auto-cpufreq)?

I also released [ `auto-cpufreq` to Snap store](https://snapcraft.io/auto-cpufreq/) which would definitely fix your problem. But as [I stated for full functionality](https://github.com/AdnanHodzic/auto-cpufreq#snap-store) `auto-cpufreq` needs snapd version 2.4.4 which is currentl

[2020-03-19 22:21] validatedev commented on #9
I'm using 20.04, tried the snap package, and I'd gladly say that the problem has been fixed! Thanks for your effort!

[2020-03-19 22:21] #9 closed

[2020-03-19 23:41] dominicdoty commented on #23
I'm not sure where along the line this was resolved, but checking my logs now it appears this is no longer an issue. The service runs correctly after reboots (with my hack fix on the systemd service removed also).
I guess feel free to close at this point?

[2020-03-20 07:21] #23 closed

[2020-03-21 10:10] filippofontana commented on #42
I got this pip warning:

WARNING: The directory '/home/filip/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.

And after that, everything goes fine, but after the _sudo auto-cpufreq --install_ command, I had the error state

[2020-03-23 08:35] crian commented on #43
AUR package has been updated to the latest upstream changes.

[2020-03-23 10:50] AdnanHodzic commented on #43
@crian great, thank you!

@Wrizz please retry by installing latest version of [auto-cpufreq AUR](https://aur.archlinux.org/packages/?O=0&SeB=nd&K=auto-cpufreq&outdated=&SB=n&SO=a&PP=50&do_Search=Go).

[2020-03-23 12:09] Wrizz commented on #43
thanks, it installed without problems :)

[2020-03-23 13:15] AdnanHodzic commented on #43
Great to hear, in that closing the issue :)

[2020-03-23 13:15] #43 closed

[2020-03-24 13:49] volnes opened #46 "/sys/devices/system/cpu/cpu0/cpufreq/energy_performance_preference"
Hi!
Got error when use
`sudo auto-cpufreq --live`

I check that files and they doesn't exist....
Ubuntu 18.04.4

[2020-03-24 14:33] AdnanHodzic commented on #46
Did you use `auto-cpufreq-installer` to install?

[2020-03-24 14:52] volnes commented on #46
this

[2020-03-24 15:13] AdnanHodzic commented on #46
@validatedev any idea on this one? Seems to be related to [latest changes to `cpufreqctl` file.](https://github.com/AdnanHodzic/auto-cpufreq/pull/45)

[2020-03-24 15:21] validatedev commented on #46
@AdnanHodzic Will look at it asap.

[2020-03-24 16:56] validatedev commented on #46
@volnes Could you have a chance for letting the CPU model to us please?

[2020-03-24 16:58] volnes commented on #46
Intel i5-2540M @ 3.300GHz

[2020-03-24 17:09] validatedev commented on #46
I suspect that older CPU's are not support EPP, which is Intel SpeedShift on Windows. Making some changes and let you try @volnes

[2020-03-24 17:22] validatedev commented on #46
I wanna sure about the absence of the parameters, @volnes could you try `cat /sys/devices/system/cpu/cpu0/cpufreq/energy_performance_available_preferences` please?

[2020-03-24 17:25] volnes commented on #46
as i say early, there no such file...

![image](https://user-images.githubusercontent.com/5400851/77457360-9d3ef300-6e0d-11ea-8b2c-952bb1388e46.png)

[2020-03-24 17:45] AdnanHodzic commented on #46
@validatedev perhaps the simplest thing to do (altough it's bit of a hack), would be to add a file check for:

- `/sys/devices/system/cpu/cpu0/cpufreq/energy_performance_available_preferences`
- `/sys/devices/system/cpu/cpu0/cpufreq/energy_performance_available_preferences`

If one of the  files isn't there simply skip run of `s.run("cpufreqctl --epp --set=balance_power", shell=True) ` in `core.py

[2020-03-24 17:47] validatedev commented on #46
@AdnanHodzic yeah that's what I'm doing right now :)

[2020-03-24 17:48] AdnanHodzic commented on #46
:+1: looking forward to PR then :)

[2020-03-24 17:52] validatedev commented on #46
@volnes
Could you try https://github.com/validatedev/auto-cpufreq/tree/fix-conflict-with-TLP because I want to sure about my fix is working.

[2020-03-24 17:56] volnes commented on #46
@validatedev
![image](https://user-images.githubusercontent.com/5400851/77460221-de390680-6e11-11ea-8b3b-4f069761309e.png)
i think all ok, no errors

[2020-03-24 19:17] AdnanHodzic commented on #46
@validatedev I made some comments as there are code conflicts in #47

Could you please look into them as I'd like to merge these changes ASAP as it's a serious bug and I want to release new version of snap including these changes as well.

Thanks

[2020-03-24 19:53] #46 closed

[2020-03-24 19:54] AdnanHodzic commented on #46
@volnes problem has been fixed as part of #48 PR. Please pull the latest changes and re-install the tool.

Please feel free to re-open the issue if you're still experiencing the same issue.

[2020-03-25 05:15] volnes commented on #46
@AdnanHodzic @validatedev  yes update, problem fixed, thanks guys for your work

[2020-03-25 06:49] volnes commented on #42
Well now i got same error with systemd daemon:
![image](https://user-images.githubusercontent.com/5400851/77509555-f8103300-6e7d-11ea-9208-b06498e7f98d.png)

[2020-03-25 07:39] AdnanHodzic commented on #42
Since some changes were pushed in meantime. What happens if you do:

[code]

[2020-03-25 07:46] volnes commented on #42
sudo ./auto-cpufreq-installer --remove
sudo ./auto-cpufreq-installer --install

Same error after reinstalling last version.

[2020-03-25 08:00] AdnanHodzic commented on #42
What does `whereis auto-cpufreq` return and are you able to run i.e: `auto-cpufreq --live`

Does it make any difference if you run:

[code]

[2020-03-25 08:05] volnes commented on #42
![image](https://user-images.githubusercontent.com/5400851/77514609-33affa80-6e88-11ea-95f3-e412a1bf0198.png)

Weird  but it works.

No difference

[2020-03-25 08:42] AdnanHodzic commented on #42
Right, so problem is that same path `/usr/local/bin/auto-cpufreq` for some weird reason isn't found in your case, when it's run by root user as part of the systemd service.

What I suggest you do as a workaround is:

after `sudo auto-cpufreq --install`

Run: `sudo systemctl stop auto-cpufreq`

Edit `/etc/systemd/system/auto-cpufreq.service` file with editor of your choice, i.e:

`sudo vim /etc/sys

[2020-03-25 08:47] volnes commented on #42
Thanks, systemd daemon now works fine!

[2020-03-25 09:01] AdnanHodzic commented on #42
Great. I won't make any changes in code yet, as I want to see if anyone else has this problem and until then will leave this issue open.

[2020-03-25 09:38] marc0der opened #49 "AUR package not working with python virtualenv"
To bring stability to my system, I use virtualenv to install all python tools through package managers like pip. When installing the `auto-cpufreq-git` package from the AUR, I noticed that it installed the `auto-cpufreq` binary into my user space virtualenv:

    $ which auto-cpufreq
    /home/marco/.virtualenv/bin/auto-cpufreq

When the `auto-cpufreq` service is started with `systemctl` it borks

[2020-03-25 11:08] AdnanHodzic commented on #49
It seems to be this issue is very similar to #42

Could you please [try doing what I suggest here](https://github.com/AdnanHodzic/auto-cpufreq/issues/42#issuecomment-603714391), in case it also works for you I'll make necessary changes to permanently resolve this problem.

[2020-03-27 11:27] #42 closed

[2020-03-27 11:33] AdnanHodzic commented on #42
This problem has been permanently fixed as part of [1.1.2 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/1.1.2).

[2020-03-27 20:28] crian commented on #49
He is manipulating the install path, so the daemon can't find the file. It expects the file in `usr/local/bin` or `usr/bin`.

[2020-03-27 20:34] marc0der commented on #49
@crian well, to be fair it isn't me manipulating the install path. It is virtualenv. And this will happen to anyone using virtualenv or pyenv would be my guess.

[2020-03-27 20:49] crian commented on #49
@marc0der can you `git clone https://aur.archlinux.org/auto-cpufreq-git.git` and edit `python setup.py install --root="${pkgdir}"` to `python setup.py install --prefix=/usr --root="${pkgdir}"` in the `PKGBUILD` and install it?

[2020-03-27 22:53] marc0der commented on #49
@crian I tried your suggestion but it didn't work either. I've been messing around for over an hour trying various things to get it to work, but to no avail. It seems that many paths are hardcoded in the package and service file itself, that simply don't align with Arch. Then there is a problem of unresolved dependencies too. Calling it a night now...

[2020-03-28 08:28] crian commented on #49
@marc0der need more details

[2020-03-29 04:20] AdnanHodzic commented on #49
@marc0der snapd 2.44 is now [available in AUR](https://aur.archlinux.org/packages/snapd/) please install it and then give [auto-cpufreq snap package](https://snapcraft.io/auto-cpufreq) a try `sudo snap install auto-cpufreq`

[2020-03-29 14:03] marc0der commented on #49
@AdnanHodzic thanks for that, I've just installed it with snap and am now running into some other errors. I'll open a new issue for that.

@crian sorry for not pursuing the AUR package any further, feel free to close this issue if you see fit.

[2020-03-29 14:16] marc0der opened #51 "Daemon cannot start on Manjaro"
I've installed auto-cpufreq on my up-to-date Manjaro machine with snap:

[code]

Installation goes well, but things go wrong when I try to start the daemon. This is from system logs:

[code]

I did a bit of digging and found that the _core.py_ script is failing due to not being able to locate the `searchfile` at `/var/lib/snapd/hostfs/etc/os-release`. The bug here seems that it assumes the file is

[2020-03-29 16:07] AdnanHodzic commented on #49
@marc0der sorry to hear that. There will be errors if your snap/d version is < 2.44. But either way, looking forward to hearing more.

[2020-04-02 06:35] e4BdSBmUzHowFico5Ktn commented on #17
@rur0 that is true, anything older than AMD 4000 (which is yet to be launched) does only have 2 power states available in any OS. AMD 4000 series cpus [will have more power states](https://www.pcworld.com/article/3530289/ryzen-4000-cpus-amd-zen-2-laptops.html) available.

However, I don`t think this is a reason not to add functionality for any <4000 family ryzen cpus.

[2020-04-07 14:19] andreacocci95 opened #52 "Service started but log not showed"
I installed the last version of your code with manually installation. After installation without errors, I tried monitor and live and perfectly works. I decide to install it with the proper command and all works. The problem born when I try to execute the log command to see the configuration, but nothing showed. I see that service is running but I can't see the current configuration. Can you help

[2020-04-08 10:57] q-codes commented on #17
@AdnanHodzic  Having this same error in _Intel(R) Core(TM)2 Duo CPU_ .

`/sys/devices/system/cpu/cpu0/cpufreq/scaling_driver    = acpi-cpufreq
/sys/devices/system/cpu/cpu0/cpufreq/scaling_governor  = ondemand
/sys/devices/system/cpu/cpu1/cpufreq/scaling_available_governors = ondemand performance schedutil `

[2020-04-08 11:10] q-codes commented on #39
`pip3 install setuptools distro click power psutils
python3 setup.py install`
Finally `./bin/auto-cpufreq`

[2020-04-13 11:05] Kwaadpepper commented on #52
```tail /var/log/syslog```

[2020-04-13 11:08] Kwaadpepper opened #53 "Snap deamon is polluting syslog"
![Capture d’écran de 2020-04-13 13-06-25](https://user-images.githubusercontent.com/6019313/79116022-a75a6e80-7d87-11ea-9c65-6a8bc9d2ec4f.png)

Is there anyway to silent the deamon ?

[2020-04-16 21:05] Tulikukka opened #54 "Auto installer failed to install python, won't run"
[code]

Seems like python installation failed and automatic installation failed with it but reports successful installation.

[2020-04-21 19:51] AdnanHodzic commented on #52
How did you perform the install and which distribution are you using?

If you're using Ubuntu 20.04 I would advise you to perform the [install using snap package](https://github.com/AdnanHodzic/auto-cpufreq#snap-store).

[2020-04-21 20:36] AdnanHodzic commented on #54
Please pull the latest changes, after which run:

[code]

Please re-open the issue if the problem is not fixed.

[2020-04-21 20:48] Tulikukka commented on #54
`fireflower@romuluotain8:~$ sudo ./auto-cpufreq/auto-cpufreq-installer --remove

-------------------------------------------------------------------------------

auto-cpufreq tool and all its supporting files successfully removed.

fireflower@romuluotain8:~$ sudo ./auto-cpufreq/auto-cpufreq-installer --install

-------------------------------------------------------------------------------

Detect

[2020-04-21 20:56] AdnanHodzic commented on #54
What happens if you run:

[code]

[2020-04-21 21:00] Tulikukka commented on #54
`fireflower@romuluotain8:~$ sudo ./auto-cpufreq/auto-cpufreq-installer --remove
[sudo] password for fireflower:

-------------------------------------------------------------------------------

auto-cpufreq tool and all its supporting files successfully removed.

fireflower@romuluotain8:~$ sudo apt-get install python3-setuptools
Reading package lists... Done
Building dependency tree
Reading state

[2020-04-21 21:05] AdnanHodzic commented on #54
Seems like your Python environment is misconfigured, does this get you any further?

[code]

[2020-04-21 21:17] Tulikukka commented on #54
Error persists, I will try cleaning my system a bit from python / etc. and reinstall them. Changed distro because didn't quite like my desktop enviroment that ubuntu came with (auto-cpufreq was a succesful install on native distro) and changing desktop environment on the fly made ubuntu behave somewhat oddly.

On the last resort I will try snap package installer

[2020-04-21 22:00] Tulikukka commented on #54
reinstalling all python packages didn't help, so the issue is probably on somewhere very deep of the mint distro.

Snap worked but don't know should snap automatically add itself to the PATH environment variable or not... Well for me it didn't so commands are not fetched from there.

Anyway the program seems to be working now, cpu changing frequency from 0.8GHz to 2.8GHz on laptop and battery life

[2020-04-22 07:13] AdnanHodzic commented on #54
Yes, snap should do everything for you. Okay great, in that case I'm closing this issue.

[2020-04-22 07:13] #54 closed

[2020-04-27 19:34] wendersonj opened #55 "Permission denied with snap"
Hello ! I'm testing this program, but so far, so good. Although, I found a problem and resolved it.
When I first installed it with 'snap', when running with 'sudo the auto-cpufreq --live', I was getting permission denied when trying to make changes.
I removed it and re-installed using the source code. Then, everything changed as supposed too.

[my small contribution, even though I don't now if it'

[2020-04-27 19:35] wendersonj commented on #55
Using Ubuntu 18.04 bionic with kernel 4.15.0-96-generic; Intel i7-8565U.

[2020-04-27 19:35] #55 closed

[2020-04-27 19:43] AdnanHodzic commented on #55
Thank you. As I [indicated due to changes that needed to be done to snapd](https://github.com/AdnanHodzic/auto-cpufreq#snap-store). `snap` package is currently only encouraged on 20.04.

[2020-04-27 20:57] andreacocci95 commented on #52
I'm using Elementary OS 5.1.2 based on Ubuntu 18.04 and I compiled auto-cpufreq using the GitHub guide.

[2020-05-06 12:01] amithiel opened #56 "Gamemode compatibility"
Hi there!
I just installed a fresh ubuntu 20.04 copy.
I'm running your app, and i'm liking it so much...i'm not even going to install TLP.
So... there's also gamemode in ubuntu. As far as as i know, running gamemode, will change your governor to performance ( and so does your app when plugged to ac).
ubuntu's game mode will disable the performance governor when you exit the game. In this case, as

[2020-05-12 10:36] AdnanHodzic commented on #56
Glad to hear that :)

App should respond to stay in `performance` mode, if the conditions are satisfied (plugged in, high system load and etc ...).

I would suggest you monitor what's happening using `auto-cpufreq --log` in case of auto-cpufreq installation otherwise `auto-cpufreq --live`. Please feel free to report an issue if something unexpected is happening.

They actually should. Basically th

[2020-05-18 13:47] innovaitec opened #57 "[Request] Instructions on how to exit "auto-cpufreq --log""
It would be nice if there are some kind of message about how to exit "auto-cpufreq --log". Ctrl+C is working but it is not intuitive for new users.

[2020-05-18 13:50] innovaitec opened #58 "Instruction on how to check daemon status when auto-cpufreq is installed using snap"
Hi, I would recommend updating your web page and other auto-cpufreq material with the correct instructions on how to check daemon status when snap was used to install auto-cpufreq. The instructions currently posted are not working in that scenario.

auto-cpufreq is amazing, thanks for your time!

[2020-05-21 15:05] Booteille opened #59 "Permission denied on Snap 2.44.3+20.04"
Hi!

Using `auto-cpufreq --log` after a successful `sudo auto-cpufreq --install`, I get the following error:

[code]

Tried the command with `sudo`, same result.

[2020-05-23 09:30] alkapwn3d commented on #17
cpu: Intel i3 M 370

getting the same error. I only have performance and schedutil governors as well.

would love to see what this does for my laptop performance

[2020-05-23 10:09] AdnanHodzic commented on #59
Could you please tell me which distribution/release are you running?

[2020-05-23 10:20] Booteille commented on #59
Sure!

Pop_OS! 20.04

[2020-05-23 18:23] AdnanHodzic commented on #59
Will look into this. Until I resolve this issue, I would suggest to use [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq#auto-cpufreq-installer)

[2020-05-23 18:49] Booteille commented on #59
That's what I finally did.

Thank you!

[2020-06-18 01:08] fariquelme commented on #14
Same issue here, i inspected the values of core_temp and only found two keys in the dictionary ('acpitz' and 'iwlwifi_1' ). The values were
[code]
coretemp is not showing for some reason

[2020-06-25 16:01] dlecan opened #60 "UserWarning: Unable to read properties of /sys/class/power_supply/hidpp_battery_0: [Errno 2]"
Hi,

With a fresh install today, I get this when I launch auto-cpufreq

[code]
Context:
- DELL XPS 13 / i7-8550U
- Ubuntu 18.04.4

[2020-07-25 22:25] ntropy83 opened #61 "Single Core / Battery status / cp stat"
Hey there,

I like your tool very much and gave it some testing. On Geekbench 5 I score on the Multi Core test about the same, as when I set my system manually to its maximum. Yet the Single Core test only yields 3/4 of the result. Turbo Boost stays off and the cpu never goes beyond its base frequency then.

Second thing: the log constantly reports that my battery is discharging, even when the ACP

[2020-08-04 16:24] AdnanHodzic commented on #14
Could everyone please pull latest changes and see if you still have this problem? @Red-Eyed addressed this issue in his [MR](https://github.com/AdnanHodzic/auto-cpufreq/pull/62) and changes have been merged with `master`.

[2020-08-04 16:35] Red-Eyed commented on #17
@sandersantema , I could try to create branch for you that could solve your problem (just add switching from `performance` to `schedutil`).
Will you able to test it?

[2020-08-05 12:26] Red-Eyed opened #64 "[Question] setting turbo in a powersave mode doesn't seem right"
Hello @AdnanHodzic ,
Do we need turbo boost in a powersave mode?

[2020-08-05 13:57] Red-Eyed commented on #51
I fixed this in #62 PR, not sure if that fix went to snap

[2020-08-05 14:02] Red-Eyed commented on #14
I think we can close it, as @fariquelme showed us his values of the `core_temp`, and I use `acpitz` instead of `coretemp`

[2020-08-05 14:47] Red-Eyed commented on #37
@AdnanHodzic this error means that `get_cur_gov.split()` returns empty list. i.e no governors at all.
is that possible?

[2020-08-05 15:58] AdnanHodzic commented on #64
I remember this was raised by @validatedev in one of his PR's. IIRC, reason to leave turbo boost enabled while in`powersave` was due to performance issues. Although it did greatly improve the battery life.

I think this is a great option to have in #26 where users could decide on their own whether they want turbo boost on in `powersave` or not.

[2020-08-05 16:02] Red-Eyed commented on #26
I could look at it. and maybe implement first draft when have a time
python's stdlib has (good config parser)[https://docs.python.org/3/library/configparser.html]

So, config should:
- contain default values
- where it should be placed?

[2020-08-05 16:04] Red-Eyed commented on #64
Got it

[2020-08-05 16:04] #64 closed

[2020-08-05 16:26] AdnanHodzic commented on #37
@Red-Eyed I can't remember seeing anything like that, but it could be.

I'll need to refactor this part with exception handling (try, except). So if this is really the case at least the whole app doesn't crash.

[2020-08-05 16:29] Red-Eyed commented on #37
@AdnanHodzic if no governors are available, than we should just call `sys.exit()`?
Because the point of the project is switching across governors:)

[2020-08-05 16:44] AdnanHodzic commented on #37
@Red-Eyed agreed, no point in proceeding if no governors are available :)

[2020-08-05 19:13] #17 closed

[2020-08-05 19:34] Red-Eyed commented on #51
Now it should work fine

[2020-08-05 19:37] AdnanHodzic commented on #14
Closing the issue, please feel free to re-open it if you're still experiencing this issue.

[2020-08-05 19:44] AdnanHodzic commented on #26
* where it should be placed?

I was about to say in the same directory as `auto-cpufreq`, this way whoever changes the default values can see what was changed with git.

*But*, this won't apply if app was installed using `snap`, `AUR` or any other package. Hence, maybe it would be the best to place to `~/.auto-cpufreq`?

[2020-08-05 19:47] Red-Eyed commented on #26
Yeah, I also inclined to thing that this would be a nice place.
But, what about other users? as it seems that `auto-cpufreq` is for multi user, isn't it?

[2020-08-05 19:48] AdnanHodzic commented on #51
I want to first fix `snap` package and make a new release. I want to make sure it's working for @marc0der as he waited long enough for this :)

[2020-08-05 19:50] Red-Eyed commented on #51
Yeah, IMHO: snap is mandatory for now, as most of people use ubuntu and they don't want to install it manually (from github)
I could help to test it for POP OS!

[2020-08-05 19:52] AdnanHodzic commented on #26
True, but for now we should focus that it works well for 1 user with root access :)

[2020-08-05 19:53] AdnanHodzic commented on #51
Will, let you know once the problem is fixed and release has been made.

[2020-08-05 19:57] fariquelme commented on #14
@AdnanHodzic @Red-Eyed thanks for the follow-up. Itried to install it yesterday and had the same issue. I have an AMD ryzen 4900HS, maybe it's an issue with my cpu?. I know it has poor support since it's really new hardware, i upgraded to kernel 5.8 to

[2020-08-05 19:59] Red-Eyed commented on #14
@AdnanHodzic could you try to install it (from the github) now, because many of PR were merged  today, thanks

[2020-08-05 20:00] Red-Eyed commented on #14
@fariquelme

could you try to install it (from the github) now, because many of PR were merged today, thanks

[2020-08-05 20:00] fariquelme commented on #14
@AdnanHodzic Sure, i'll let you know if the issue persists.

[2020-08-05 20:01] Red-Eyed commented on #14
@fariquelme it should work now as I have AMD that doesn't contain `coretemp` field as well

[2020-08-05 20:10] Red-Eyed opened #69 "[Question] Disable cpu cores based on the config"
@AdnanHodzic what do you think, about adding a feature (option if config when the config file will be available see #30 ) that will disable CPU cores in order to have more battery life?
I found that we can easily disable CPU cores by command `echo 0 > /sys/devices/system/cpu/cpu0/online`

[2020-08-05 20:12] Red-Eyed commented on #26
I just thought, that how could we determine user dir, if `auto-cpufreq` is run with root?

[2020-08-05 20:51] fariquelme commented on #14
@Red-Eyed I installed it from git and the issue is solved!, Thanks guys.

[2020-08-05 21:39] AdnanHodzic commented on #69
Sounds like a good idea for config file. Something like this: `limit number of cores (available cores: xy)`

[2020-08-05 21:45] AdnanHodzic commented on #26
True, `/etc/auto-cpufreq` sounds good.

Since `auto-cpufreq` snap is running in restricted mode, I'm trying to pick least intrusive location, as I'll need to request access to this location for snap. But in worst case scenario I can even place this in different location for snap in case it turns out to be too much hassle.

[2020-08-05 22:22] Red-Eyed opened #71 "[Feature] add Flatpak support"
As far as we know that not all linux distribution uses snap by default.
I think that adding flatpak package would be a nice addition for the RHEL/Fedora/Silverblue/CentOS users and others (clear linux, POP OS, and other who relise on flatpak as default)

I have a bit of experience with flatpak, so can try to look in that direction.

@AdnanHodzic  if you consider flatpak support, than you can assig

[2020-08-05 22:34] yochananmarqos opened #72 "Fails when core temperatures are not found"
My APU does not report temps for each core so it fails.

Output of:
[code]

[code]

### Error output:
[code]
---

### System information:
[code]
---

[2020-08-06 06:22] AdnanHodzic commented on #72
@Red-Eyed any idea about this?

[2020-08-06 06:27] AdnanHodzic commented on #71
Sure, feel to to start working on it. The more ways users have to install the app the better.

[2020-08-06 06:45] AdnanHodzic commented on #59
I would be interested in hearing if you still have this problem with snap as as part of new (unreleased) release/beta:

[code]

[2020-08-06 06:46] AdnanHodzic commented on #51
@marc0der could you please try new (unreleased version) in beta, and confirm if you still have the same problem?

[code]

[2020-08-06 08:15] marc0der commented on #51
Just tested and seems to be working fine now! :tada: Thanks @Red-Eyed!

[2020-08-06 08:15] #51 closed

[2020-08-06 09:59] Booteille commented on #59
Hi! It seems to work properly now. Thanks!

[2020-08-06 10:09] Red-Eyed commented on #72
@AdnanHodzic yeah, I have some one. Working on it

[2020-08-06 10:31] Red-Eyed commented on #72
@AdnanHodzic since  `psutil.sensors_temperature()` doesn't contain `acpitz` it fails.
Fixed it in #73 and made it more stable since it seems that sensors set are very different across machines.

[2020-08-06 10:33] Red-Eyed opened #74 "[Feature] add more info into --debug"
Since sensors are very different across the machines I think that it would be nice to add output of `psutil.sensors_temperature()` into `get_sys_info()` function
also, we need to know the version and the way user start it (snap or directly from the git)

in general, we should add:
* sensors info
* app version info
* Is it snap or git?
* If snap -> snap version output

maybe more

[2020-08-06 10:35] #72 closed

[2020-08-06 10:37] #59 closed

[2020-08-06 11:02] Red-Eyed commented on #59
@AdnanHodzic Unfortunately, it still throws the same error on POP OS 20.04

[2020-08-06 11:47] AdnanHodzic commented on #59
@Red-Eyed which version of `snapd` do you have?

It's weird that it's still happening for you and not for @Booteille

Could you try running following and reporting if same problem is still there:
[code]

[2020-08-06 11:52] Red-Eyed commented on #59
Yeah, it's weird
[code]

[2020-08-06 11:53] Red-Eyed commented on #59
Also, I don't see `--debug` option
but AFAIK it should be present, isn't it?

[2020-08-06 13:49] AdnanHodzic commented on #59
You're right, I just pushed another revision.

Could you retry running:

[code]

again?

[2020-08-06 14:30] Red-Eyed commented on #59
Yeah, I've tried
same error with permission denied. but `--debug` option
also, `inxi` is not installed

Maybe, let's just wrap distribution into try...except block and catch Permission denied
and could you please install inxi in snap?

If you want, I can add handling of PermissionDenied

[2020-08-06 14:36] Red-Eyed commented on #59
check it out: #75

[2020-08-06 14:39] Red-Eyed commented on #59
@AdnanHodzic can I build snap locally and install it locally?
I want to find out the problem on pop os

[2020-08-06 14:43] Red-Eyed commented on #59
Sorry, I'm asking about "how can I test snap builds" ?
maybe you could give me some tutorials?

[2020-08-06 15:33] Red-Eyed opened #77 "[Installation] shouldn't it remove old version when u install new one?"
just built snapcraft, installed it
tried to look at `--monitor`, but it said that I should use `--log` instead

It means that installing new version doesn't remove old one.

@AdnanHodzic could you confirm?

[2020-08-06 15:37] AdnanHodzic commented on #77
This happened because there was a daemon running which `auto-cpufreq --install` sets up. This was made as a preventive measure, for 2 instances of auto-cpufreq not to be running at the same time and thus giving you wrong results.

[2020-08-06 20:07] Red-Eyed commented on #74
@AdnanHodzic do you have any idea how to get snpad version from inside the snap package?

[2020-08-06 20:08] #77 closed

[2020-08-06 20:36] AdnanHodzic commented on #37
Many new changes have been done as part of 1.2 release and I believe your problem is solved.

Install latest version using snap package:

[code]

or pull the latest changes and run:

[code]

In case this doesn't solve your problem, please feel free to re-open this issue.

[2020-08-06 20:36] #37 closed

[2020-08-06 20:39] AdnanHodzic commented on #39
Many new changes have been implemented as part of 1.2 release and I believe your problem is solved.

Install latest version using snap package:

[code]

or pull the latest changes and run:

[code]

In case this doesn't solve your problem, please feel free to re-open this issue.

[2020-08-06 20:39] #39 closed

[2020-08-06 20:41] AdnanHodzic commented on #49
Many new changes have been implemented as part of 1.2 release and there's an improved snap package.

[code]

I also asked @crian if he could build a new [AUR package based on 1.2 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/1.2).

[2020-08-06 20:42] #49 closed

[2020-08-06 20:42] AdnanHodzic commented on #52
Many new changes have been implemented as part of 1.2 release and I believe your problem is solved.

Install latest version using snap package:

[code]

or pull the latest changes and run:

[code]

In case this doesn't solve your problem, please feel free to re-open this issue.

[2020-08-06 20:42] #52 closed

[2020-08-06 20:43] AdnanHodzic commented on #53
Many new changes have been implemented as part of 1.2 release and I believe your problem is solved.

Install latest version using snap package:

[code]

or pull the latest changes and run:

[code]

In case this doesn't solve your problem, please feel free to re-open this issue.

[2020-08-06 20:45] AdnanHodzic commented on #58
Thank you for your kind words!

When you install `auto-cpufreq` using snap package, you can check daemon status using:

[code]

Also there's just been released a [major new release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/1.2), so make sure to upgrade :)

Closing the issue, please feel free to re-open it.

[2020-08-06 20:45] #58 closed

[2020-08-06 20:45] AdnanHodzic commented on #60
Many new changes have been implemented as part of 1.2 release and I believe your problem is solved.

Install latest version using snap package:

[code]

or pull the latest changes and run:

[code]

In case this doesn't solve your problem, please feel free to re-open this issue.

[2020-08-06 20:45] #60 closed

[2020-08-06 20:46] Red-Eyed commented on #33
@swetoast could you please test the new release, as I this bug should be solved

[2020-08-06 20:46] AdnanHodzic commented on #61
Great, thank you!

Many new changes have been implemented as part of 1.2 release and I believe your problem is solved.

Install latest version using snap package:

[code]

or pull the latest changes and run:

[code]

In case this doesn't solve your problem, please feel free to re-open this issue.

[2020-08-06 20:46] #61 closed

[2020-08-06 21:20] AdnanHodzic commented on #74
FWIK, you can't do that. Because basically snap is running inside of a container, hence all the reasons snap environment has all these exceptions within auto-cpufreq, [perfect example](https://github.com/AdnanHodzic/auto-cpufreq/blob/master/source/core.py#L440).

But since I'm pretty sure there could be a file that could have this information stored, maybe ask this same question on [snapcraft foru

[2020-08-07 06:53] Kwaadpepper opened #81 "PermissionError: [Errno 1] Operation not permitted"
### Error output:
[code]
---

### System information:
[code]
---

## Syslog

[code]

[2020-08-07 06:59] Kwaadpepper commented on #53
Sorry to say that this is not solved.
#81
I have posted my syslog

[2020-08-07 07:01] Kwaadpepper commented on #81
[code]

[2020-08-07 07:03] Kwaadpepper commented on #81
[code]

[2020-08-07 08:42] marc0der opened #82 "The systemd log is being spammed by auto-cpufreq"
I've started using the tool and loving it so far. Good work!

After installation, the `auto-cpufreq` service is continually outputting the full payload of the `--log` command to the system logs.

When tailing the logs with `journalctl --follow`, I see a continual stream of these log reports being dumped in the log every 5 seconds.

[code]
My system info:

[code]
Installed with snap:
[code]

Should

[2020-08-07 09:14] Red-Eyed commented on #81
Thank you for the report!
The issue occurs when it tries to set `turbo boost`

may you show please output of
`cat /sys/devices/system/cpu/intel_pstate/no_turbo`
`cat /sys/devices/system/cpu/cpufreq/boost`

[2020-08-07 13:38] jdferron commented on #71
Agreed, Linux Mint as of LM20 does not support snap packages.   Flatpak support would be awesome!

[2020-08-07 14:31] Red-Eyed commented on #71
@jdferron Linux mint [does support it](https://snapcraft.io/docs/installing-snapd), it's just Ubuntu/Debian based.
Just don't confuse, you probably wanted to say that `snapd` is not preinstalled by default :)

[2020-08-07 14:58] IntinteDAO opened #83 "The battery is "discharging" even when connected to power."
### Error output:
[code]
---

### System information:
[code]
---

[code]

I don't know if it's an error (translation), but according to auto-cpufreq (as I understand it), the battery is discharged even when it is plugged in. In my opinion the program can take bad values in boost management and so on (although I don't see that it would change anything).

Unless I'm stupid and I misunderstand someth

[2020-08-07 15:51] Red-Eyed commented on #83
it seems that `psutil` doesn't recognize the battery state: `power_plugged=None`.
How did u install it, did u use snap?

BTW: didn't we met on [reddit](https://www.reddit.com/r/linux/comments/i4zemd/new_release_autocpufreq_automatic_cpu_speed_power/g0m3epq?utm_source=share&utm_medium=web2x) (just recognized same CPU lol)?

[2020-08-07 16:00] IntinteDAO commented on #83
Nope. I have MSI Alpha 15 with dual Radeon GPUs. That's why I bought it :P

I install AUR version, but snap also don't work.

[2020-08-07 16:35] Red-Eyed commented on #83
Oh, I see, than it's not due to snap sanboxing.
So, there is a bug in `psutil` upstream

[2020-08-07 17:01] Red-Eyed commented on #83
I bought a laptop recently, specifically with integrated AMDGPU only :)

[2020-08-07 18:13] Bu4ak opened #84 "FileNotFoundError: [Errno 2] No such file or directory: '/usr/share/auto-cpufreq/scripts/auto-cpufreq-install.sh'"
[code]
### Error output:
[code]
---

### System information:
[code]
---
[code]

[2020-08-07 18:22] Ratatinator97 opened #85 "Battery appears as Charging while not"
### Error output:

--> Battery is: charging
Battery appears as "charging" while not ! My computer was not charging at all.

---

### System information:
-------------------------------------------------------------------------------

System: HP product: HP EliteBook 830 G5 v: N/A serial: <filter>
           Mobo: HP model: 83B3 v: KBC Version 04.65.00 serial: <filter> UEFI: HP
           v: Q78 Ve

[2020-08-07 18:27] Red-Eyed commented on #85
Oh, thank you!
 I see, `psutil` cannot detect it. Will check it out!

[2020-08-07 18:43] Red-Eyed commented on #85
One more question, how did u install it?

[2020-08-07 19:11] Ratatinator97 commented on #85
By the AUR package ;)

[2020-08-07 19:25] Red-Eyed commented on #84
yes it doesn't work at all on manjaro, just checked that out

[2020-08-07 20:41] AdnanHodzic commented on #84
Not even if if it's installed as a snap?

[2020-08-07 20:45] AdnanHodzic commented on #53
Seems like this issue is identical what was reported in #82

[2020-08-07 20:47] AdnanHodzic commented on #82
First of all thanks :)

I remember this same thing was mentioned in #53. Hence, I think it would be a good think to address this issue in one of the future releases.

[2020-08-07 20:53] Kwaadpepper commented on #81
You're welcome !

[code]

[2020-08-07 21:00] Kwaadpepper commented on #81
I also installed from github and the permission error is gone but I still got some errors in syslog

[code]

[2020-08-07 21:30] marc0der commented on #82
Great stuff. Some further digging has revealed that all logging is done straight to standard out. Perhaps this issue could be circumvented using targeted logging using a logger library. I could look into this, but since python isn't my first language I'm not promising anything.

[2020-08-07 21:49] AdnanHodzic commented on #82
Go for it, it would be amazing to see a PR from you :) Otherwise, even if you find a nice library that could be used for this purpose that would also be great.

[2020-08-08 14:55] yochananmarqos commented on #84
It's fixed in both the `auto-cpufreq-git` AUR package and the `auto-cpufreq` Manjaro community package (available in the testing branch).

[2020-08-08 17:22] schinfo opened #87 "[Feature] Tray-Icon for Status-Info"
Can you add a tray icon (red / green) so that the status (active / inactive) of auto-cpufreq is visible.

[2020-08-08 18:27] Red-Eyed commented on #84
so, I guess the problem is with AUR installation, not the snap.

[2020-08-08 18:28] Red-Eyed commented on #87
@AdnanHodzic I could help with this, maybe even implement. Had experience with python app indicator

[2020-08-08 18:32] yochananmarqos commented on #84
No, the problem is people are trying to install it when it's already installed. The AUR package installs all the required files including the service.

[2020-08-08 18:33] Red-Eyed commented on #87
@AdnanHodzic could please you label issues by category and priority?

[2020-08-08 18:34] Red-Eyed commented on #84
I installed it via `pacman` on my manjaro that didn't see `auto-cpufreq` and got the same error

[2020-08-08 18:36] yochananmarqos commented on #84
@Red-Eyed The new Manjaro community package (currently in the testing repo) is the same except it also automatically enables the service.

Again, it's ready to go after installation. There's no need to run that command at all.

[2020-08-08 18:40] schinfo commented on #87
Only you as the owner can set labels in GitHub ;-)

[2020-08-08 18:42] Karrelax opened #88 "PermissionError: [Errno 1] Operation not permitted"
Hello,
I know another user sent a similar issue, but he seems to have solved it by installing from github...while I didnt. I used the auto-cpufreq-installer to install it.
Let me know if you need some other info about all this.
Regards.

### Error output:
[code]
---

### System information:
[code]
---

[2020-08-08 19:05] Red-Eyed commented on #88
thanks for the report!
can u do this and say what u get:
`sudo sh -c "echo > 0 /sys/devices/system/cpu/intel_pstate/no_turbo"`
`sudo sh -c "echo > 1 /sys/devices/system/cpu/intel_pstate/no_turbo"`

[2020-08-08 19:19] Red-Eyed commented on #88
It seems that your cpu doesn't support `turbo boost`

[2020-08-08 19:22] Red-Eyed commented on #88
Found similar issue on [SO](https://askubuntu.com/questions/876903/cannot-change-intel-turbo-boost-sys-devices-system-cpu-intel-pstate-no-turbo)

[2020-08-08 19:36] Red-Eyed commented on #85
it's upstream issue
https://github.com/giampaolo/psutil/issues/1658

[2020-08-08 20:00] Red-Eyed commented on #85
What does `sudo ls -la /sys/class/power_supply/` show?

[2020-08-09 06:10] AdnanHodzic commented on #87
Sure, sounds like a nice idea.

I just sent @Red-Eyed an invite to be a collaborator, with that status he'll be able to do these things :)

[2020-08-09 07:36] Karrelax commented on #88
[code]
So yeah, I guess the turbo boost option is not an option for me.
So the fact that auto-cpufreq assumes turbo boost is possible is what brings up the problem. Thanks for the quick support :)

[2020-08-09 08:01] Ratatinator97 commented on #85
it does :
`drwxr-xr-x  2 root root 0  8 août  10:44 .
drwxr-xr-x 69 root root 0  8 août  10:44 ..
lrwxrwxrwx  1 root root 0  8 août  10:44 AC -> ../../devices/LNXSYSTM:00/LNXSYBUS:00/ACPI0003:00/power_supply/AC
lrwxrwxrwx  1 root root 0  8 août  10:44 BAT0 -> ../../devices/LNXSYSTM:00/LNXSYBUS:00/PNP0C0A:00/power_supply/BAT0`

[2020-08-09 11:16] swetoast commented on #33
works, closing issue tnx for the works guys

[2020-08-09 11:16] #33 closed

[2020-08-09 14:22] Red-Eyed commented on #88
Oh, nice! Thanks for the testing!

[2020-08-09 14:27] Red-Eyed commented on #85
Thanks, could you then post output here of thins cmd `cat /sys/class/power_supply/BAT0/status` ?

[2020-08-09 19:27] AdnanHodzic commented on #33
It's too late to announce ARM support as part of 1.2 release now, but it'll definitely be in release for next release.

[2020-08-09 20:29] Kwaadpepper commented on #81
Same as #88 closing then

[2020-08-09 20:30] #81 closed

[2020-08-09 20:34] Red-Eyed commented on #84
@Bu4ak is that fixed?

[2020-08-09 20:47] Bu4ak commented on #84
@Red-Eyed ,
**yochananmarqos** are [absolutely right](https://github.com/AdnanHodzic/auto-cpufreq/issues/84#issuecomment-670938278). There is no need to run ```sudo auto-cpufreq --install``` because it is already installed (via AUR in my case).

To enable daemon service:
[code]

[2020-08-09 23:10] Red-Eyed commented on #84
I understand that there is no need to run `--install`. But calling `--install` and getting that error doesn't seem right for the end user.

[2020-08-09 23:27] yochananmarqos commented on #84
@Red-Eyed Well, don't tell them to, then. 😉

On Arch & derivatives, Pacman should track all installed files to the system to avoid conflicts when installing or updating packages. It's customary that a package installed via the repos or AUR should install all required files for this reason.

I can do a PR for the README for Arch & Manjaro here in a bit.

[2020-08-10 07:12] ntropy83 opened #91 "AUR installer issues"
Hi there, thanks for the latest update.
However after updating it, my CPU Governor suddenly got stuck on performance with AC plugged in and couldnt be reverted. So I purged the software and installed again. If I run auto-cpufreq-install tho the installation fails with a copy error with a wrong path to the auto-cpufreq.service file.

Missing file in /usr/local/share/auto-cpufreq/scripts

If I copy

[2020-08-10 07:20] crian commented on #84
In the AUR package all files are installed and ready to go. The end-user just needs to enable the systemd service.
There is no need to run the install command.

[2020-08-10 07:22] crian commented on #91
Don't run the install command after you installed the AUR package.
Just enable the systemd service.

[2020-08-10 11:21] jaredbarez opened #92 "deploy_daemon() disables Bluetooth regardless of using laptop on AC"
Why hardcoding Bluetooth disable in deploy_daemon() ?
I use BT extensively when on AC (my keyboard and mouse are BT) and deploying auto-cpufreq just cut the "cord" out of my keyb/mice regardless of using AC.
Please remove hardcoded disable or make it an option for AC/batt.
Thanks

[2020-08-10 11:44] Red-Eyed commented on #92
Yep, sounds reasonable.

[2020-08-10 15:31] AdnanHodzic commented on #92
I think best idea in this case would be to prompt an user during install if he wants bluetooth disabled (at boot). Default action being "yes" in case of no reply as most of user don't care if bluetooth is disabled on their startup.

With this approach, in case of parametrized run it could be something like:

[code]

I also extensively use bluetooth headphones, but I'm not as annoyed/disrupted when

[2020-08-10 15:59] AdnanHodzic commented on #84
I reverted change

[2020-08-10 16:04] AdnanHodzic commented on #84
Hi @crian, as I mentioned in #91

Is there a reason why this is done differently as part of AUR package?

[2020-08-10 16:50] yochananmarqos commented on #84
@AdnanHodzic

No, the [PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=auto-cpufreq-git) installs `auto-cpufreq.service` to `/usr/lib/systemd/system/`.

For the AUR package, yes. The user will see [a message after installation](https://aur.archlinux.org/cgit/aur.git/tree/auto-cpufreq.install?h=auto-cpufreq-git) letting them know they need to enable the service.

However, with the

[2020-08-10 17:26] crian commented on #84
The AUR package compiles and installs all files. That's a typical behavior of a PKGBUILD.

It's a good idea to mention this in the readme. So that arch users don't run into this issue.

[2020-08-10 18:36] AdnanHodzic commented on #84
@yochananmarqos thank you for an elaborate clarification.

I was just about to say, why isn't the service triggered automatically after install. Can't this be the case for both AUR and Manjaro package?

:+1:

Sounds like a good idea to me.

@crian

:+1: I'm fine with whatever approach you guys take. You're the maintainers of these packages.

@crian @yochananmarqos

If things can't be automated, an

[2020-08-10 18:44] yochananmarqos commented on #84
The service is not enabled by default with the AUR package because of Arch's [KISS](https://wiki.archlinux.org/index.php/Arch_terminology#KISS) principle and [Simplicity](https://wiki.archlinux.org/index.php/Arch_Linux#Simplicity).

However, [Manjaro's](https://manjaro.org/) definition of simplicity involves making these easier:

[2020-08-10 19:27] AdnanHodzic commented on #84
@yochananmarqos

I'm completely fine with that, every distro has its own ways of doing this and philosophies which should be respected.

In this case could you please create another MR for re-organizing the README. But this time, extending Arch Linux section and pointing existing elements that are part of the README. I really had a feeling in #90 it was solely focusing on how to get it installed/r

[2020-08-10 21:39] yochananmarqos opened #93 "Hard system lockup"
I was not able to retrieve any logs since the system completely locked up. I could not using the magic SysRq key combo and had to hold the power button to turn my laptop off. I also use TLP if that makes a difference.

Another member of the Manjaro team has an AMD Ryzen 7 4800H and experienced the same issue. He said,

I asked him to open an issue since he maybe had a log to share, but since he ha

[2020-08-11 03:11] crian commented on #26
Please follow the [xdg base directory specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) when placing a config file into the user home dir.

[2020-08-11 20:11] ntropy83 commented on #85
I have a similiar issue, but it is saying discharging for me.

https://i.imgur.com/2xifPOM.png

BAT0 is read as well as unknown by conky, when it is on charge stop. I set a charge stop to 90% in the BIOS and when I plug in the laptop having the battery fully charged, conky will say unknown. This might be the issue.

[2020-08-12 08:01] Ratatinator97 commented on #85
Hey, sry for the late response:
The output of the command `cat /sys/class/power_supply/BAT0/status` (The laptop is NOT plugged in)
`Discharging`

[2020-08-12 14:57] AdnanHodzic commented on #84
[README ](https://github.com/AdnanHodzic/auto-cpufreq)updated, I hope this clarifies any confusion. Please submit a new PR if you think otherwise.

[2020-08-12 14:57] #84 closed

[2020-08-12 14:57] AdnanHodzic commented on #91
[README ](https://github.com/AdnanHodzic/auto-cpufreq)updated, I hope this clarifies any confusion. Please submit a new PR if you think otherwise.

[2020-08-12 19:53] Asheboy opened #94 "The 'click' distribution was not found and is required by auto-cpufreq"
### Error output:
[code]
---

### System information:
[code]
---

[2020-08-13 05:56] AdnanHodzic commented on #93
Since AMD is in question here, @Red-Eyed do you have any ideas?

[2020-08-13 05:57] AdnanHodzic commented on #94
How did you install auto-cpufreq, using the installer or snap package?

[2020-08-13 05:59] AdnanHodzic opened #95 "[Improvement] Add distro information to debug"
Display distro information in `auto-cpufreq --debug`

Besides this also include if detected env is snap or not (ttempt to determine which installer was tool installed with).

[2020-08-13 06:31] Asheboy commented on #94
Installer.

On Thu, 13 Aug 2020, 06:58 Adnan Hodzic, <notifications@github.com> wrote:

--
--

* <http://www.clock.co.uk/>
*

_
_
The Old School House
Bridge
Road, Hunton Bridge,
Kings Langley, WD4 8RQ

Switchboard: +44 1923 261166

www.clock.co.uk <http://www.clock.co.uk/>

*
*
*
<http://twitter.com/clock>    <https://github.com/clocklimited>   
<http://www.linkedin.com/company/clock-limited>   

[2020-08-13 07:34] AdnanHodzic commented on #94
For some reason installation of `click` package failed during installation.

What happens if you run:

[code]

[2020-08-13 08:02] Red-Eyed commented on #93
@AdnanHodzic I have no any idea why changing governor and turbo can cause lockup (is that just freezing or kernel panic, because it's not clear for me what does lockup mean)

[2020-08-13 08:52] Asheboy commented on #94
I actually did try this before opening:

```pip3 install --user click```

but that didn't resolve the issue.

[2020-08-13 08:58] Red-Eyed commented on #94
It doesn't work because `autocpu-freq` uses system python
try `sudo pip3 install click`

[2020-08-13 09:43] Asheboy commented on #94
Right, that works. Thank you.

[2020-08-13 09:56] Red-Eyed commented on #94
@Asheboy why did you close the issue?
User shouldn't install any additional dependencies

[2020-08-13 11:53] Asheboy commented on #94
@Red-Eyed Simply because my own issue is resolved. I'm happy for you to reopen it.

[2020-08-13 13:49] AdnanHodzic commented on #93
That's a very good point @Red-Eyed

@yochananmarqos could you please further elaborate on what exactly do you mean by "lockup" in this scenario? Thanks

[2020-08-13 13:59] yochananmarqos commented on #93
Lockup as in frozen solid with no response to input.

[2020-08-13 18:42] olexandrch opened #96 "Error on sudo auto-cpufreq --install"
Installed the program from AUR. I can run `sudo auto-cpufreq --live` without errors.
I got an error on `sudo auto-cpufreq --install`
I run Manjaro Linux with Cinnamon with all the updates as of 2020/08/13

### Error output:
[code]
---

### System information:
[code]
---

Edited: I also installed auto-cpufreq from snap and got the same error on `sudo auto-cpufreq --install`
[code]

[2020-08-13 19:37] Red-Eyed commented on #96
related #91
Currently, AFAIK you don't need to run `--install` on AUR

[2020-08-13 19:43] ntropy83 commented on #91
All good that worked out. Meanwhile I dug a bit into the code and know more now how it is working. Python is pretty new to me but intresting. :)

I have modified the code for me, so the cpu stays on powersave with AC plugged in as well. This is better for this hell of a Coffe Lake Refresh ++ intel of mine that runs pretty hot real quick. :)

One last thing for the Readme: systemctl enable auto-cpu

[2020-08-13 20:20] olexandrch commented on #96
Thank you, Red-Eyed.
After installing from AUR, we need to start the systemd service.
`systemctl enable auto-cpufreq`
`systemctl start auto-cpufreq`

and check if it `enabled` and `running` with
`systemctl status auto-cpufreq`

[2020-08-13 20:20] #96 closed

[2020-08-14 06:40] #94 closed

[2020-08-14 06:40] AdnanHodzic commented on #94
In last commit I've implemented what should be env agnostic way to install pip packages.

[2020-08-14 07:09] Kwaadpepper commented on #88
I can confirm I don't have the issue with the last release anymore.

[2020-08-14 07:13] Kwaadpepper commented on #87
If you do not want to reinvent the wheel there is this tool
https://github.com/konkor/cpufreq

It does not do the automatic job of https://github.com/AdnanHodzic/auto-cpufreq, so both are working well together

[2020-08-14 07:22] Kwaadpepper opened #97 "cpufreqd: get_class_device_attribute couldn't open /sys/devices/... in syslog"
### Error output:
[code]
---

### System information:
[code]
---

[2020-08-14 08:50] Red-Eyed commented on #97
Is this error or just warnings?
Does application work?

[2020-08-14 08:52] #88 closed

[2020-08-14 09:16] schinfo commented on #87
cpufreq maybe a very good tool, but the tray-icon doesn't work at Cinnamon

[2020-08-14 10:29] Kwaadpepper commented on #97
I'm a not sure whether it is in error channel or warning channel but it spams syslog. And yes application works. But it produce this.

[2020-08-14 10:45] Red-Eyed commented on #97
Thank you, you just didn't write a description, so I didn't have any idea what's going wrong.
So the problem is that syslog is being polluted, right?
If so, there is linked issue #82 #

[2020-08-14 10:47] Red-Eyed commented on #97
@AdnanHodzic I think that we should consider of solving this issue as primary one ans a lot of users complain about that.

[2020-08-14 10:49] Kwaadpepper commented on #97
It is polluted but with this error or warning so I taught it was not the same issue maybe. This happens because it tries to open file without testing it presence I guess.

I'm aware of#82

[2020-08-14 10:52] Red-Eyed commented on #97
So, we use 3rd party libraries that are trying to open that files

[2020-08-14 10:54] Red-Eyed commented on #97
Also, log says about `cpufreqd` Don't remember that we has `cpufreqd`, @AdnanHodzic are u aware of that?
@Kwaadpepper are you sure that `cpufreqd` is actually `auto-cpufreq` ?

[2020-08-14 10:56] Kwaadpepper commented on #97
If I turn of auto-cpufreq I don't have these anymore. This is why I assumed this line was responsible

[2020-08-14 10:56] Red-Eyed commented on #97
Oh, I see. Do you have `cpufreqd` installed?

[2020-08-14 11:11] Kwaadpepper commented on #97
Oh you are right, i did have this installed, just forgot this. So purged these useless libs I assumed it was part of auto-cpufreq my bad. I'll close this. But please take a look at #82 It makes syslog unreadable.

[2020-08-14 11:11] #97 closed

[2020-08-14 13:46] AdnanHodzic commented on #96
I've updated [Arch section of README once again](https://github.com/AdnanHodzic/auto-cpufreq#aur-package-archmanjaro-linux).

I think only way to permanently resolve this issue is to add a check (similar to what is done for i.e: [snap package in various places](https://github.com/AdnanHodzic/auto-cpufreq/blob/master/source/core.py#L151)) when running `install`. In case Arch or Manjaro or other Arc

[2020-08-14 13:47] AdnanHodzic commented on #91
:+1:

Soon enough a settings file will allow you to do this kind of modifications, once work in #26 is done.

Didn't think it was necessary to mention that to Arch users :wink: Regardless, I've updated [Arch section of README once again](https://github.com/AdnanHodzic/auto-cpufreq#aur-package-archmanjaro-linux) and pointed what could be permanent solution to this problem in: #96

[2020-08-14 13:47] AdnanHodzic commented on #97
@Kwaadpepper we'll take a look at #82 as soon as the time allows. Please be aware all this work is done in our free time without any compensations :slightly_smiling_face:

[2020-08-29 16:41] rrodriguez81 opened #98 "Problem enabling Turbo on Ryzen CPUS"
Hi,

I own an AMD Ryzen 3700U CPU, the turbo isn't enabled when one thread reach 100% of CPU usage. I need at least two of them to reach the 25% of CPU Load.

I fixed it modifying the source code a bit. Since I can create a new branch and push the possible change, I'm attaching the modified file, maybe it can be useful to other users,

Thanks for you good work,
[core.zip](https://github.com/AdnanH

[2020-08-29 17:09] AdnanHodzic commented on #98
Great!

Could you please create a [PR from a fork](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork)? This would help me in review and also to give you give credit for your contribution, thanks.

[2020-08-29 17:28] rrodriguez81 commented on #98
Done! take a look at it. maybe is an easy but good solution.

Best regards.

[2020-08-29 17:39] AdnanHodzic commented on #98
Great, thank you. Let me look into it and test couple of things and I'll get back to you.

[2020-08-30 14:36] gnunikorn commented on #85
Hi guys (@Ratatinator97, @Red-Eyed) , I've been facing this problem myself today. I solved the issue just re-writing "def charging()" in core.py:

`def charging():
    """
    get charge state: is battery charging or discharging
    """
    f = Path("/sys/class/power_supply/BAT1/status")

    if f.read_text()!="Discharging\n":
        state = True
    else:
        state = False

    return state`

[2020-08-31 02:32] yasharya2901 opened #100 "[Request] GUI for CPU freq"
As auto-cpufreq is a command line, having a GUI for it would be so much awesome as GUI is just awesome, isn't it? Plus, it can be less intimidating for a new user to navigate through GUI rather than CLI.

[2020-08-31 03:10] davidpaige commented on #92
Why not a config file to control settings like bluetooth?

[2020-08-31 15:18] AdnanHodzic commented on #92
Yes, in the end I think it's the best if this is handled as part of #26

[2020-08-31 15:27] AdnanHodzic commented on #100
I believe this is a duplicate of: #87

[2020-08-31 20:26] theunclemez opened #101 "Can't get auto-cpufreq to work on OpenSuse"
Tried everything mentioned on the front page but nothing does.
can't get the app to work on OpenSuse.
Possible I have a work around ?
Please note that I'm not a fan of snap or flatpack I do prefer native apps.

Thanks !

[2020-08-31 20:27] AdnanHodzic commented on #101
You tried the [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq#auto-cpufreq-installer) right?

[2020-08-31 20:44] AdnanHodzic commented on #98
Fixed as part of #99

[2020-08-31 20:44] #98 closed

[2020-08-31 21:01] AdnanHodzic commented on #85
@gnunikorn could you please create a [PR from a fork](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork)? This would help me in review and also to give you credit for your contribution, thanks.

[2020-08-31 21:10] Red-Eyed commented on #85
@AdnanHodzic and @gnunikorn this is an [upstream issue](https://github.com/giampaolo/psutil/issues/1238) of `psutil` all machines has `/sys/class/power_supply/BAT0`
but it seems to be fixed.
which version of `psutil` do u use?

[2020-08-31 21:13] Red-Eyed opened #102 "Add more debug output"
It seems that we need to add dependency versions like version of `psutil` and so on

[2020-08-31 21:16] AdnanHodzic commented on #102
As part of this also include distro related information (distro/release, kernel, driver, archicture)

[2020-08-31 22:51] gnunikorn commented on #85
@AdnanHodzic I didn't create a fork cause the issue was related to my system and to the fact that I had the elementaryOS pre-installed repo's version of python3-psutil. I dind't want to replace them with the updated pip3 version so I just changed the code, but your code is perfect for the most. @Red-Eyed y the issue was upstream and fixed, and was related to the fact that in rare cases the system

[2020-09-01 02:46] corecontingency opened #103 "[AUR] Missing /var/log/auto-cpufreq.log makes service fail to start"
### Error output:

I installed the AUR package, and ran:
[code]
The service fails to start with this error:
[code]
If I reboot, the service also fails to start with the same error.

I think the AUR package should be making `/var/log/auto-cpufreq.log`, but it doesn't, so the service fails to start because the log file is missing. If I manually create `/var/log/auto-cpufreq.log`, the service starts

[2020-09-01 06:59] AdnanHodzic commented on #85
@gnunikorn great, I'll close this issue then.

In meantime what happened is changes to `auto-cpufreq-installer` were made so it doesn't rely on apt for necessary python libraries, but uses pip instead. Which guarantees you get its latest version.

[2020-09-01 06:59] #85 closed

[2020-09-01 07:01] AdnanHodzic commented on #103
@crian can you please confirm this has nothing to do with AUR package?

[2020-09-01 19:48] crian commented on #103
The log file is created during the install process.

[2020-09-01 20:44] AdnanHodzic commented on #103
It will attempt to be create this same file as part of `daemon_deploy` function unless it's already there: https://github.com/AdnanHodzic/auto-cpufreq/blob/master/source/core.py#L217

[2020-09-02 00:53] dlalinsp commented on #71
@Red-Eyed It is not just not pre-installed by default, though. `snapd` is actively blocked from being installed without running a command first.

 I would also like to say that I think Linux Mint is a great distro and I believe it is a valuable contributor to the Linux community. Therefore, I think it isn't fair to say that they are *just Ubuntu/Debian with whistles.*

[2020-09-02 01:22] mmstick commented on #71
This kind of software cannot work as a Flatpak. Flatpak is designed for desktop applications, rather than system services, and applications run by it are executed in a separate namespace with limited access to the host. You can't do anything that requires root, without having a DBus system service installed and running on the host that can do what's needed.

[2020-09-02 01:28] mmstick commented on #69
I have doubts that disabling CPU cores would improve battery life. I suspect this would decrease battery life, because you need to do the same amount of work either way, and forcing work onto fewer processors just keeps the fewer cores operating at higher frequencies for longer periods of time. Efficiency tends to reduce at higher frequencies.

[2020-09-02 07:17] Ritte88 opened #104 "No full performance when running benchmarks"
I'm running Arch with the latest kernel. I tried to run som benchmarks with ryzedadj (set to low tdp) and I forgot that I had auto-cpufreq enabled when I run the benchs. But in my mind it should not matter since auto-cpufreq allows full performance when needed.
Anyhow, here's geekbench with the only difference being auto-cpufreq:
https://i.imgur.com/3AGytJr.jpg
https://i.imgur.com/wCW0uBK.jpg

Is

[2020-09-02 08:33] Red-Eyed commented on #69
@mmstick yep, you a right. But what if to disable/enable cores depending on the average CPU load % ?
So, if my laptop is on IDLE, than maybe disabling CPU cores will decrease power consumption?

[2020-09-02 10:09] AdnanHodzic commented on #71
Thanks for your confirmation @mmstick as this was my suspicion from the very beginning from my (limited) knowledge on how Flatpak works.

Since this is a "wont fix", I'm closing the issue. If someone has anything else to add, or would like to have further discussions please feel free to re-open it.

[2020-09-02 10:09] #71 closed

[2020-09-02 10:16] AdnanHodzic commented on #104
That's correct.

But I don't understand what's the problem. Are you saying you're getting lower performance while auto-cpufreq is enabled? Which one of these are you getting with auto-cpufreq running? https://i.imgur.com/wCW0uBK.jpg or https://i.imgur.com/wCW0uBK.jpg

[2020-09-02 10:26] Ritte88 commented on #104
The image with lower single-core is auto-cpufreq.
The problem is that this is not expected behavior, if auto-cpufreq allows for full performance (if needed).

The singe core,performance should be the same?

I found this about by forgetting to disable auto-coufreq, and the finding made me curious if this is expected behavior.

[2020-09-02 10:35] AdnanHodzic commented on #69
The more I'm thinking about this, this shouldn't be part of the settings file, as it will definitely have counter effects as @mmstick pointed out. But I'm sure if load/cpu usage is very low and cores are dropped it'll only increase battery life. Real life example, certain cars (i,e: BMW) are doing this where at low speeds/eco boost mode they only use 1 cylinder to use as little fuel as possible.

[2020-09-02 10:44] AdnanHodzic commented on #104
Right, which version of auto-cpufreq are you using?

@crian are AUR package changes made automatically based on git changes, or you have to trigger then each time based on release?

Because as part of 1.2.2 release some changes were made to address single core performance: #99 | @Red-Eyed @rrodriguez81 could this be related to that single core turbo trigger delay?

[2020-09-02 10:54] Red-Eyed commented on #69
I think that internal combustion engine(ICE) is a bad analogy as CPU and ICE has different nature, so it needs to be investigated and tested firstly.

Yes, sure in powersave only.

[2020-09-02 10:58] AdnanHodzic commented on #69
Agreed, I realized the same as soon as I posted it :)

Of course, research and testing is what's it's all about.

:+1:

[2020-09-02 11:05] rrodriguez81 commented on #104
@AdnanHodzic is posible that in a benchmark, the delay of 3-4s of triggering turbo can be very bad for benchmarks.

[2020-09-02 11:26] Red-Eyed commented on #53
Any news about that?
I had to disable auto-cpufreq as it prints too much to my syslog
I thin that we should increase the priority of this task

[2020-09-02 12:32] AdnanHodzic commented on #53
I'm swamped IRL, but I'll do my best to take a look at this tonight.

Seems like this issue is only present on snap environemnts, as I couldn't replicate the problem when `auto-cpufreq` was installed using `auto-cpufreq-install` installer.

[2020-09-02 12:42] crian commented on #104
The AUR package is build from the latest git commit.

[2020-09-02 13:03] rrodriguez81 commented on #104
@crian the versión os 1.2.1 or 1.2.2?

[2020-09-02 13:07] crian commented on #104
If you build it now the pkg will be based on commit 4c2670cae52bc7118450dc90f9c9f7a3e3568761

[2020-09-02 14:43] AdnanHodzic commented on #53
Released a fix as part of 1.2.3 version which is available in beta channel, install it by running:

[code]

After you confirm it's working as expected for you I'll promote it to stable channel, merge changes with master and close this issue.

[2020-09-02 14:43] AdnanHodzic commented on #82
Released a fix as part of 1.2.3 version which is available in beta channel, install it by running:

[code]

After you confirm it's working as expected for you I'll promote it to stable channel, merge changes with master and close this issue.

[2020-09-02 14:59] marc0der commented on #82
I just tried it out and it works perfectly :+1:

[2020-09-02 16:51] Kwaadpepper commented on #53
Thanks I'll check this ASAP.

[2020-09-02 16:53] Ritte88 commented on #104
I built the pkg about 12h ago.

[2020-09-02 17:03] AdnanHodzic commented on #82
Awesome, enjoy

[2020-09-02 17:03] #82 closed

[2020-09-02 17:08] #53 closed

[2020-09-02 17:13] AdnanHodzic commented on #53
Fix has already been confirmed in #82. Please feel to re-open if the problem persists. Changes have also been promoted to stable channel, so in case you switched to beta, you can switch back to stable by running:

[code]

[2020-09-03 17:02] validatedev commented on #64
EPP could take care of it, that's why I set turboboost on when on load. Of course, the implementation of the settings file could be sweet, but right now it works well I think. @Red-Eyed

[2020-09-03 17:23] AdnanHodzic commented on #104
@Ritte88 this problem should be fixed in #105

Not sure how long it takes for AUR package build to be triggered. But please verify this problem is gone once you're running latest changes.

[2020-09-03 17:28] AdnanHodzic commented on #103
Closing due to inactivity.

[2020-09-03 17:28] #103 closed

[2020-09-03 17:28] AdnanHodzic commented on #101
Closing due to inactivity.

[2020-09-03 17:28] #101 closed

[2020-09-03 17:31] AdnanHodzic commented on #93
I'm closing this issue because I don't think it's related to auto-cpufreq. As I'm not sure under which condition this would happen, I'm more inclined to believe this is related to potential TLP misconfiguration.

Try disabling it and see if you get this problem when only running with auto-cpufreq. Although from my experience auto-cpufreq works great in conjunction with TLP.

[2020-09-03 17:31] #93 closed

[2020-09-03 17:31] AdnanHodzic commented on #83
Closing due to inactivity.

[2020-09-03 17:32] #104 closed

[2020-09-03 17:33] AdnanHodzic opened #106 "Removal of accidentally pushed file"
Hello,

As part of https://github.com/AdnanHodzic/auto-cpufreq/commit/02bfd551c2f60924e68f3e8bc5efe340ca7ea533 commit I accidentally pushed a `auto-cpufreq_1.2.1_amd64.snap` file. Which adds additional (unneeded) ~19 MB to projects git history, which is evident when project is cloned for the first time.

In meantime I removed it from auto-cpufreq repo and made changes so some thing can't happen ag

[2020-09-06 01:54] Philbohackinz opened #107 "If you could add support for Solus that would be swell."
Distribution: Solus
Release: 4.1
Codename: fortitude

[2020-09-06 06:17] AdnanHodzic commented on #107
Can you tell me what's the problem you get after installing the snap, and what's the error you get during the installation of [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq#auto-cpufreq-installer)?

[2020-09-06 08:51] tibert01 opened #108 "Battery mode is "charging" even unplugged"
Hello, I installed auto-cpufreq from snap and by cloning from git. I tried to use the monitor option, but the battery mode rests on "charging" even after unplugging my laptop.
I'm on Pop!_OS, with the latest updates. The kernel version is 5.4.0-7642-generic.

### System information:
[code]
---

[2020-09-06 09:55] AdnanHodzic commented on #108
Seems like duplicate of #85

[2020-09-06 10:38] tibert01 commented on #108
I read what was in the #85 , I tried to install the python3-psutil form my apt repo (version 5.5.1) but nothing has changed, removed it and tried to install the psutil with pip3 (version 5.7.2), but it was already installed. And from what I read, the only thing remaining that I could do is making the modification in core.py, but it isn't very clean.

I don't know if it could change have incompatib

[2020-09-06 17:54] AdnanHodzic commented on #108
I think the problem is that `psutil` from `python3-psutil` is the one that gets picked up and that's the problem. What happens if you `sudo apt purge -y python3-psutil`

[2020-09-06 18:11] tibert01 commented on #108
Not much, It was already uninstalled, so I installed it again to purge it instead of only removing it, and it still is on charging. Even tried to remove psutil with pip3 and let the installer install it back, but still the same thing.

[2020-09-07 21:38] marc0der opened #109 "Greedy apps causing overheating"
This isn't as much as an error as what it is something that I've been observing. I often do calls on Zoom and MS Teams, both apps seem to be processor hungry. When I have auto-cpufreq enabled, turbo boost is enabled and the laptop throws everything it can at the process. This results in cores overheating to the extent that they were reaching 95oC. I subsequently had to uninstall auto-cpufreq becau

[2020-09-08 07:11] AdnanHodzic commented on #109
For analysis purposes, what's the system load/CPU usage/temperature during these calls without auto-cpufreq daemon running? Check by running `auto-cpufreq --monitor` and paste the output here. This is more of a problem with those apps as I have this same behavior on MacBook Pro when running those same apps.

My concern is if turbo was turned off during high core temperatures while CPU is very much

[2020-09-08 10:03] marc0der commented on #109
So I've prepared several dumps that show my system performance under the various scenarios. Most interesting to see is that greedy app does not hog the cpu when daemon is stopped, sticking to low frequency and low temp. When daemon is running, frequencies are boosted ~4000 MHz and core temperature rises:

Normal operation (daemon running)

[code]

With greedy app (daemon running)

[code]

With gre

[2020-09-08 23:57] Ahmed-E-86 opened #110 "Massive CPU usage!"
I noticed that `python3` was using a lot of CPU power from time to time, and I checked to see what is the application using python3, and surprise, it was auto-cpufreq, so I removed it completely. Why does this application constantly using a lot of CPU resources?! Isn't that against the main purpose of the application?!

**80 minutes of CPU time**

![auto-cpufreq_bug](https://user-images.githubuser

[2020-09-09 14:55] AdnanHodzic commented on #110
By looking at the screenshot, I don't see any "Massive CPU usage!". I see low (total) CPU usage of 5% and `CPU Time` of 80:51 for auto-cpufreq which is nothing out of ordinary for a system daemon. Especially if that daemon is constantly trying to adjust the CPU frequency and scaling. If you look for CPU Time of i.e: Xorg you'll see it'll have the same or even greater `CPU time`. I suggest you read

[2020-09-09 16:00] Ahmed-E-86 commented on #110
`auto-cpufreq` (Python3) uses 25% of my total CPU usage when my machine is idle since I installed it. That what made me to question its behavior. CPU time for Xorg today for my machine is 8 minutes only, and my machine is up for more than 7 hours.

My report is not `based on misrepresentation of system resources and misunderstanding of CPU time`, and thanks for closing this issue. Now, I don't hav

[2020-09-09 17:28] AdnanHodzic commented on #110
If you do what I suggested below and `auto-cpufreq` is using 25% then that's a problem.

Out of sheer curiosity, because I see you installed using the snap. If you delete the snap and then [install auto-cpufreq using the installer](https://github.com/AdnanHodzic/auto-cpufreq#auto-cpufreq-installer). Can you do the same thing I suggested above and verify that auto-cpufreq is using substantial % of

[2020-09-09 21:37] Ahmed-E-86 commented on #110
I installed auto-cpufreq using the installer, and now I don't notice it at all (I made sure that it is up and running).

![Screenshot_20200909_233628](https://user-images.githubusercontent.com/29783425/92657542-4d89b080-f2f5-11ea-839d-b20adf7f062e.png)

The issue is mostly related to Snap, but I will keep the application running for a couple of days to be sure.

[2020-09-10 05:26] AdnanHodzic commented on #110
Okay, good to know. I'm working on some changes in snap which will hopefully fix resolve this issue.

What's distro are you using and could you tell me what running `snap version` in terminal returns?

[2020-09-10 05:40] AdnanHodzic commented on #109
Do you install auto-cpufreq using snap or AUR package?

If you installed it using snap, out of sheer curiosity could you delete it and install it using AUR package. I'm curious to see if you'll have this same problem again. Just to role out it's not related to #110

Recently I switched from `core18` to `core20` (Python 3.8) and I'm starting to think this could be a problem behind these issues.

[2020-09-10 05:47] AdnanHodzic commented on #108
What happens if you install it using a [snap package](https://github.com/AdnanHodzic/auto-cpufreq#snap-store)?

[2020-09-10 06:08] tibert01 commented on #108
Same issue. I don't know if the snap package comes with psutil, or with something to install it : I uninstalled psutil with pip3 before installing the snap package and when I ran the auto-cpureq command, it gave me an error saying that psutil isn't installed (I installed it after with pip3). But even before, I tried the snap package before using the command line installer, with the same issue. My

[2020-09-10 21:38] marc0der commented on #109
I tried testing it but it seems like the aur package is broken. When I try to install the daemon I get this:

[code]

[2020-09-10 21:42] marc0der commented on #109
I've installed it with the AUR package and running it as a systemd service now. Will report back here when I've tried it out some more tomorrow.

[2020-09-10 21:56] Ahmed-E-86 commented on #110
I use `Kubuntu 20.04.1`

The output of `snap version`:

[code]
The application doesn't cause any CPU spikes, but my machine froze a lot of time today, and I had to force-restart my machine from a little, and I had to remove it. I will give it another try later when it is stable enough. Thanks for your help.

[2020-09-10 22:38] Red-Eyed commented on #110
@Ahmed-E-86 why do you think that freezes is due to `auto-cpufreq` ?

[2020-09-11 06:39] AdnanHodzic commented on #110
@Ahmed-E-86 I'm sorry to hear that, as I and many others have been using it for months without every running into issues you mentioned here.

@Red-Eyed I'm also curious to hear this, as if this is really the case it should have most priority to be resolved.

[2020-09-11 09:41] marc0der commented on #109
Running Greedy, the core temperatures are still very high compared to running without the daemon, although not as critically high as with the snap package. Here is the dump:

[code]

[2020-09-11 09:43] Red-Eyed commented on #110
@AdnanHodzic I think we should add loging of cpu/mem usage into file, than analyze it. But logging in debug build

[2020-09-11 09:49] Red-Eyed commented on #109
@marc0der I think it's because of turbo boost is set?
@AdnanHodzic how do you think?

turbo boost just increases freq. High freq means high resistance -> high temperature, right?

[2020-09-11 10:21] marc0der commented on #109
@Red-Eyed yes, but high temperature at ~95oC core temp isn't good for your machine.

[2020-09-11 12:13] Ahmed-E-86 commented on #110
Because they happen after installing auto-cpufeq. If they don't happen after uninstalling it, then it is the cause of these freezes.

[2020-09-11 17:30] Red-Eyed commented on #109
So, maybe we should disable boost on high temperature?

[2020-09-11 20:12] AdnanHodzic commented on #110
@Ahmed-E-86 I just [released 1.3](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.3). Hence, could you please install auto-cpufreq's latest version and include output of `sudo auto-cpufreq --debug`.

Thanks

[2020-09-11 20:35] AdnanHodzic commented on #109
@marc0der  I just [released 1.3](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.3). Hence, could you please install auto-cpufreq's latest version and include output of `sudo auto-cpufreq --debug`. Also please confirm that temperatures don't get so high on snap now as they used to. As there was one error during build which I ignored which has now been addressed.

And what are your (app

[2020-09-11 21:07] Red-Eyed commented on #109
@AdnanHodzic actually, I don't have any idea, why turbo boost is enabled, when the goal is to save power?

[2020-09-11 21:12] AdnanHodzic commented on #109
Well, when it's in performance mode (charging) and then it's more easily triggered. In my case above laptop is charging.

[2020-09-12 09:50] marc0der commented on #109
@AdnanHodzic I've now installed the latest snap version 1.3 and will monitor it closely.

This sounds like a good first stab at solving the problem to make it less trigger-happy as you say.

Keep up the good work, this tool has great potential for linux laptop warriors like myself.

[2020-09-12 10:53] marc0der commented on #109
This is the output for snap version 1.3. Core temperatures still ocassionally venture into the >= 90oC territory, but generally stays within 80-90oC.

[code]

[2020-09-12 13:17] AdnanHodzic commented on #109
@marc0der could you also please include output of `auto-cpufreq --debug`? Thanks

[2020-09-13 07:17] crian opened #111 "auto-cpufreq --debug git error"
### Error output:
[code]
---

### System information:
[code]
---

Getting this error with AUR package beacuse there is no git version of auto-cpufreq available.
Is there another way to check the app version?

[code]

[2020-09-13 09:46] AdnanHodzic commented on #111
I only intended for this to show only on installs with [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq#auto-cpufreq-installer). I've (temporarily) disabled this functionality in last commit, I want to re-think how to feed app version as I'm also facing same issue with snap package.

[2020-09-13 11:03] smarambas opened #112 "CPU frequency scaling frozen in auto-cpufreq --log"
I noticed that while using `auto-cpufreq --log`, in the section CPU frequency scaling, total CPU usage and total system load remain the same after every refresh. I tried restarting the system but, after that, the load and the turbo boost settings seems also to be frozen. From the debugging output it seems that turbo boost is always on at the moment, even though the load is not high. The problem al

[2020-09-13 11:58] AdnanHodzic commented on #112
No, output in both `--log` and `--debug` should reflect actual turbo status. The reason behind this might be because `intel_cpufreq` driver is being used on your system, hence I don't think it's reading turbo state correctly since for `intel_pstate` turbo is on different location.

Do you have any idea why `intel_cpufreq` is being used on your system? On Intel i7 `intel_pstate` is being used by de

[2020-09-13 13:17] smarambas commented on #112
I'm trying to understand why, without much success.

### `cat /sys/devices/system/cpu/intel_pstate/no_turbo` output:
[code]
### `cat /sys/devices/system/cpu/cpufreq/boost` output:
[code]

[2020-09-13 18:39] AdnanHodzic commented on #111
@crian in last commit I re-enabled `app_version` function, can you confirm that now you're not getting any errors with AUR, as it should only work if installed with `auto-cpufreq-installer`.

In meantime, I'll leave this issue open until I figure out how to feed git commit/version for AUR/SNAP.

[2020-09-13 20:31] AdnanHodzic commented on #112
This validates my prediction.

I think it would be easiest if you used `intel_pstate`. Normally it should be automatically enabled/loaded. I'm not sure how comfortable you are editing `grub.cfg`, there are some resources [how to disable it on Fedora](https://unix.stackexchange.com/questions/121410/setting-cpu-governor-to-on-demand-or-conservative). Maybe try to figure out a way how to enable it?

[2020-09-13 20:46] AdnanHodzic commented on #109
@marc0der

This is much better, I would say even totally acceptable. I made a another[ release in meantime (1.3.1)](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.3.1).

On it I experimented bit with overheating, it turns out that turning "turbo boost off" won't do anything (as expected). But simple hack you could do next time CPU temperature gets really high (95°C territory). Could y

[2020-09-13 20:55] Ahmed-E-86 commented on #110
Linux distro: Ubuntu 20.04.1 LTS (Focal Fossa)
Linux kernel: 5.8.9-050809-generic

Snap package: yes

Python: 3.8.2
psutil package: 5.7.2
platform package: 1.0.8
click package: 7.1.2
distro package 1.5.0

Battery is: charging

auto-cpufreq system resource consumption:
cpu usage: 0.0 %
memory use: 0.25 %

Processor: Intel(R) Core(TM) i5-4200M CPU @ 2.50GHz
Cores: 4
Architecture: x86_64
Driver: inte

[2020-09-13 20:58] marc0der commented on #109
Temperatures are still up in the stratosphere, so will need to wait until this is fixed properly before I can really use this day-to-day.
Here is the debug output as requested:

[code]

[2020-09-13 21:03] AdnanHodzic commented on #110
All those stats look absolutely great to me, especially:

Since here you can see that `auto-cpufreq` is using 0.0% of your CPU.

Where did you get this 5.8 kernel for 20.04? I would suggest you simply wait another month until 20.10 is release and get official >= 5.8 kernel with [Ubuntu HWE](https://ubuntu.com/kernel/lifecycle).

[2020-09-13 21:07] smarambas commented on #112
I will try, thanks for the help.

[2020-09-13 21:07] #112 closed

[2020-09-13 21:09] Red-Eyed commented on #109
@marc0der
High CPU temperature means a weak cooler system.

`auto-cpufreq` just legally changes CPU configuration.
On my desktop, I run heavy tasks (Deep Learning training) for days with performance scheduler and with turbo boost on, and it is under 70°C.
Also, I use my laptop and didn't get high temperatures, and even if I would get high temp - it's not because of `auto-cpufreq`, but because of b

[2020-09-13 21:09] AdnanHodzic commented on #109
And also let me know how this works, and if it's not too much to ask include before and after debug output.

As if this works as I suspect it might ...

I'd simply switch governors back and forth (instead of turbo) once certain temperature has been reached.

[2020-09-13 21:21] marc0der commented on #109
@Red-Eyed so you are saying that the Lenovo Carbon X1 is a badly designed laptop with a bad cooler system? I think not.
I compile Scala on my laptop every day and it never overheats. The moment I try to perform intensive tasks like this with auto-cpufreq enabled the cores overheat. The problem is clearly not with my laptop...

@AdnanHodzic no probs, I'll include before and after debug logs next ti

[2020-09-13 21:22] Ahmed-E-86 commented on #110
It doesn't stay this way, it spikes every few seconds, not as high as before, but it consumes power from CPU, so I don't think it will help me to save power at all.

Kernel 5.8 is more stable than the default kernel (5.4) on my machine. That is why I use it.

[2020-09-13 21:32] AdnanHodzic commented on #109
@Red-Eyed

When not running CPU intensive tasks, my X1 Carbon (7th gen) will go as low as 48°C. But then if I'm stressing the CPU to the max, it'll go as high as 95°C (which for me, is expected).

Laptops definitely don't have as good cooling systems as desktops. This topic always reminds me of [MacBook Pro with Intel i9](https://www.youtube.com/watch?v=Dx8J125s4cg) not being able to reach even cl

[2020-09-15 09:28] coerx commented on #108
I have the same issue. I installed auto-cpufreq by auto-cpufreq-installer, and psutil is installed by pip3, not from python3-psutil
I'm on ubuntu 20.04.1 LTS

[2020-09-15 15:34] AdnanHodzic commented on #108
Could both of you share output of `sudo auto-cpufreq --debug`

[2020-09-15 15:59] coerx commented on #108
The laptop isn't actually plugged in, and the output of the command `sudo auto-cpufreq --debug`
[code]

[2020-09-15 16:06] tibert01 commented on #108
I may have found a part of what is causing the issue (or maybe it's the only thing don't know), I managed to make it working by enabling in my bios the battery time remaining (the remaining battery time was shown by pop os even without it enabled in bios).

Here is the debug if useful (laptop unplugged and auto-cpufreq status discharging) :
[code]

[2020-09-15 20:15] cyruskarsan commented on #108
Same issue, Ubuntu 20.04 installed from snap package.

[2020-09-16 06:04] Haptein opened #114 "Wrong core temperatures on 'coretemp'"
CPU0's temp corresponds to package temp, CPU1's temp to CPU2's so on and so forth.

Linux distro: Manjaro Linux 20.1 Mikah
Linux kernel: 5.8.6-1-MANJARO
Processor: Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
Cores: 12
Architecture: x86_64
Driver: intel_pstate

CPU0 temp: 35°C
CPU1 temp: 33°C
CPU2 temp: 34°C
CPU3 temp: 32°C
CPU4 temp: 33°C
CPU5 temp: 33°C

From psutil:
'coretemp': [
shwtemp(label='Pac

[2020-09-16 06:05] Haptein opened #115 "Report cpu info formated as a table"
Cpu info occupies too much space, specially with high core counts.

[2020-09-16 17:03] AdnanHodzic commented on #115
Addressed as part of #116

[2020-09-16 17:03] #115 closed

[2020-09-16 17:03] AdnanHodzic commented on #114
Addressed as part of #116

[2020-09-16 17:03] #114 closed

[2020-09-17 08:46] Vinnl opened #117 "Turbo boost always on"
### Error output:

When running `auto-cpufreq --live`, I always see something akin to the below. Specifically, it always says "High load, setting turbo boost: on". I'm not sure if it's supposed to do that, so feel free to close if it's normal, but to a novice like me it looks like it's not doing anything:

[code]
---

### System information:
[code]
---

[2020-09-17 08:53] Vinnl commented on #117
Never mind - I guess the `governor` and `EPP` are relevant as well, and I see those changing if I unplug my charger, for example. Thanks for the tool!

[2020-09-17 08:53] #117 closed

[2020-09-17 17:01] luispabon opened #118 "Turbo boost enabled under low load"
Looks like auto-cpufreq is a bit overzealous when deciding the system is under high load. You can see my debug below, 1% CPU usage and 0.62 system load. As a result, turbo is on probably when it shoudln't and the laptop is running a few degrees hotter than it could.

Under the same sort of load, without running auto-cpufreq the system temp is around 45/47 degrees C.

### System information:
[code]

[2020-09-17 19:28] AdnanHodzic commented on #118
That's for confirming this. As [I mentioned](https://github.com/AdnanHodzic/auto-cpufreq/issues/109#issuecomment-691314410) in #109  currently `auto-cpufreq` is very "turbo mode" trigger friendly when charging.

I've marked this big as duplicate, and if possible let's continue this discussion in #109.

[2020-09-17 20:38] AdnanHodzic commented on #118
@luispabon I made some [changes in turbo-lover](https://github.com/AdnanHodzic/auto-cpufreq/tree/turbo-lover) branch, you can get them by installing `auto-cpufreq` from snap beta channel:

[code]

Now it's using more conservative settings and turbo isn't triggered as easily as before. Let me know how it works for you.

[2020-09-17 20:39] AdnanHodzic commented on #109
@marc0der  I made some [changes in turbo-lover](https://github.com/AdnanHodzic/auto-cpufreq/tree/turbo-lover) branch, you can get them by installing `auto-cpufreq` from snap beta channel:

[code]

Now it's using more conservative settings and turbo isn't triggered as easily as before. Let me know how it works for you.

[2020-09-17 23:02] luispabon commented on #118
Copy that, I will do so as soon as I'm back to charging tomorrow :+1:

[2020-09-18 11:24] luispabon commented on #118
@AdnanHodzic definitely much better than before.

[2020-09-18 11:24] luispabon commented on #118
Do you want to keep this open until the change is released to non-beta? Or should I just close it?

[2020-09-18 14:58] AdnanHodzic commented on #102
Done as part of 1.3.1 release.

[2020-09-18 14:58] #102 closed

[2020-09-18 14:58] AdnanHodzic commented on #95
Done as part of 1.3.1 release.

[2020-09-18 14:58] #95 closed

[2020-09-18 14:58] AdnanHodzic commented on #118
Good to hear, I could make turbo trigger even more conservative, but this seems like the right balance.

Don't worry about it, once I've released 1.3.2 final and promoted build to snap stable channel, I'll close it myself. I want to test it more myself and for @marc0der  to confirm the same in #109

[2020-09-18 14:59] AdnanHodzic commented on #56
Closing due to inactivity.

[2020-09-18 14:59] #56 closed

[2020-09-18 16:07] coerx commented on #108
sry, I didn't find that similar setting in BIOS
### System info:
[code]

[2020-09-19 12:02] Haptein opened #119 "Issues with CPUs disabled"
System info has some issues when running while having offline cpus:
- psutil does't report offline CPUs, core numbers are wrong
- psutil reports wrong maximum frequency
- wrong cpu numbering and temperatures in table
- cpufreqctl prints error messages when setting governor/epp

Linux distro: Manjaro Linux 20.1 Mikah
Linux kernel: 5.8.6-1-MANJARO
Snap package: no
Python: 3.8.5
psutil package: 5.7.2

[2020-09-19 13:35] dnisyd commented on #118
How about making it configurable which lets us use the default turbo boost load balance trigger or use a self defined threshold?

[2020-09-19 17:38] AdnanHodzic commented on #118
@dnisyd while I was working on this I was thinking about the same thing. This would be ideal candidate for #26, but I'm not sure when I'll have time to start working on it.

Also, until #26 is implemented, we need to have good "defaults" for triggering turbo. What was there before was too "trigger happy" in terms of turning on turbo.

[2020-09-20 11:19] AceOfSpadez54 opened #121 "sudo auto-cpufreq"
### Error output:

Installing necessary Python packages

ModuleNotFoundError: No module named 'setuptools'

installing auto-cpufreq tool
-----------------------------------------------------
Traceback (most recent call last):
  File "setup.py", line 3, in <module>
    from setuptools import setup
/usr/bin/python3: No module named pip
------------------------------------------------------
sudo: aut

[2020-09-20 15:52] marc0der commented on #109
@AdnanHodzic I'm giving it a try and will report back about what my findings are.

[2020-09-20 20:35] AdnanHodzic commented on #121
I just made changes which should fix your problem, pull the latest changes and run `auto-cpufreq-installer --installer` again.

[2020-09-20 23:56] Haptein commented on #119
It also looks like psutil reports wrong current frequencies percpu with offline cores:

From psutil:
Core	 Usage     Frequency
CPU0:	100.0%     3355 MHz
CPU1:	100.0%     3610 MHz
CPU2:	100.0%     3573 MHz
CPU3:	100.0%     3610 MHz
CPU4:	  0.0%     3563 MHz
CPU5:	  0.0%     3576 MHz
CPU8:	100.0%      800 MHz
CPU9:	  0.0%      800 MHz
CPU10:	  1.0%     3598 MHz
CPU11:	  1.0%     3560 MHz

Formatted

[2020-09-22 15:15] AdnanHodzic commented on #121
Closing due to inactivity.

[2020-09-22 15:15] #121 closed

[2020-09-22 15:15] AdnanHodzic commented on #109
After thoroughly testing changes for few days, I've merged them with `master` branch and made [1.3.2 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.3.2). These changes have also been promoted to snap `stable` channel.

If you've been using beta channel you can switch to stable by running:

[code]

@marc0der I'm closing the issue as I'm sure it'll solve your problem. A lot of

[2020-09-22 15:15] AdnanHodzic commented on #118
After thoroughly testing changes for few days, I've merged them with `master` branch and made [1.3.2 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.3.2). These changes have also been promoted to snap `stable` channel.

If you've been using beta channel you can switch to stable by running:

[code]

[2020-09-22 15:15] #118 closed

[2020-09-22 15:17] AdnanHodzic commented on #110
There's are changes which could've resolved this problem as part of [1.3.2 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.3.2) which solved similar results in #109 #118

Could you give it a try and report back?

[2020-09-22 18:49] Ahmed-E-86 commented on #110
It consumes 7% of CPU usage for 2 seconds each 5 seconds, a little less than it was before, but it is still a lot.

Also, it hung up my machine after running it for a few minutes, and I had to force-restart my machine.

[2020-09-23 07:46] natri23 commented on #107
I can force installed it with:

After that I edited /usr/bin/auto-cpufreq/scripts/auto-cpufreq.service and replace

with

then it would work with --intstall

[2020-09-23 16:09] AdnanHodzic commented on #119
Solved as part of #120

[2020-09-23 16:09] #119 closed

[2020-09-23 16:12] AdnanHodzic commented on #107
@natri23 I would encourage you to create a [PR request](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request) with changes to installer which work for you.

[2020-09-24 02:39] natri23 commented on #107
#122 Added simple instruction lines for Solus

[2020-09-24 05:57] AdnanHodzic commented on #107
Support for Solus have been added as part of #122, changes are live as [part of 1.3.3 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.3.3).

Closing this issue, if the problem persists please feel free to re-open it.

[2020-09-24 05:57] #107 closed

[2020-09-28 06:43] AdnanHodzic commented on #85
@Ratatinator97 @ntropy83 @gnunikorn and anybody else who's experienced this issue.

Changes were made as part of #124, could please verify if these changes still work for you?

If you're using snap changes can be tested by switching to beta channel, i.e:

[code]

Otherwise you can test them by running:

[code]

[2020-09-28 06:44] AdnanHodzic commented on #108
@tibert01 @coerx @cyruskarsan and anybody else who's experiencing this issue.

Changes were made as part of #124 which should resolve this problem, could please verify?

If you're using snap changes can be tested by switching to beta channel, i.e:

[code]

Otherwise you can test them by running:

[code]

[2020-09-28 08:02] coerx commented on #108
Looks like the problem is fixed.
### the output of `sudo auto-cpufreq --debug`
[code]

[2020-09-28 08:31] tibert01 commented on #108
For me it still doesn't work if I don't enable the setting in the bios. If I enable it, it works.

[2020-09-28 08:33] gnunikorn commented on #108
It works, should I stay on this branch or switch back?
 @AdnanHodzic

[2020-09-28 09:05] AdnanHodzic commented on #108
@tibert01 What's the problem with having this setting enabled in BIOS?

@gnunikorn you can switch back to `master` changes are now made as part of [1.3.4 release.](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.3.4)

If you were using snap beta channel, you can switch back to stable as changes have been propagated there as well.

[code]

Closing the issue.

[2020-09-28 09:05] #108 closed

[2020-09-28 09:05] AdnanHodzic commented on #85
Changes are now made as part of [1.3.4 release.](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.3.4)

If you were using snap beta channel, you can switch back to stable as changes have been propagated there as well.

[code]

[2020-09-28 09:56] Ratatinator97 commented on #85
@AdnanHodzic it is working fine for me now :
`-------------------------------------------------------------------------------

Linux distro: Arch Linux rolling n/a
Linux kernel: 5.8.10-arch1-1

fatal: not a git repository (or any of the parent directories): .git
Snap package: no

Python: 3.8.5
psutil package: 5.7.2
platform package: 1.0.8
click package: 7.1.2
distro package 1.5.0

Battery is: disc

[2020-09-28 17:51] Haptein commented on #108
@tibert01 My guess is that the Linux kernel isn't getting needed info about the battery if the option is disabled in BIOS. Just to be sure, could you please share the result of running the following commands?

[2020-09-29 21:56] corndog2000 opened #125 "[Feature requset] Flatpak support"
I am using Fedora Silverblue and would love to be able to install auto-cpufreq from the software center via Flatpak. Have you considered building a flatpak package?

[2020-09-30 06:45] AdnanHodzic commented on #125
Of course, this topic has been discussed in #71 and unfortunately it seems it's not possible due to [Flatpak limitations.](https://github.com/AdnanHodzic/auto-cpufreq/issues/71#issuecomment-685224661)

[2020-10-01 08:47] jurgen-74 opened #126 "auto-cpufreq.service could not be found"
### Error output:###
I get this when I issue this command:  sudo systemctl status auto-cpufreq.service
Unit auto-cpufreq.service could not be found.

### System information:###
sudo auto-cpufreq --debug

Linux distro: KDE neon 5.19
Linux kernel: 5.4.0-48-generic
Snap package: yes
Python: 3.8.2
psutil package: 5.7.2
platform package: 1.0.8
click package: 7.1.2
distro package 1.5.0
Battery is: disch

[2020-10-01 15:20] AdnanHodzic commented on #126
Way to check if auto-cpufreq daemon/service is running on snap is different:
`systemctl status snap.auto-cpufreq.service.service`

I also just [updated ReadMe with this info](https://github.com/AdnanHodzic/auto-cpufreq#install---auto-cpufreq-daemon).

[2020-10-01 15:20] #126 closed

[2020-10-01 18:52] jurgen-74 commented on #126
Great!! thx

[2020-10-03 15:10] tibert01 commented on #108
For both grep commands, the results are correct, when unplugged status gives "discharging" and online gives "0". With or without the setting enabled in the bios.

For the setting in the bios, I don't mind letting it enabled, I was just reporting what it happened.

[2020-10-04 23:42] #125 closed

[2020-10-05 19:39] telometto opened #127 "CPU frequency doesn't automatically adjust"
No error output, but there seems to be a bug where the CPU doesn't scale up its' frequency when doing tasks such as gaming. I posted about the issue on https://forum.garudalinux.org/t/csgo-microstutters/776 . I'm sorry if this isn't the right way to post about the issue, but I am new to Linux and this is my first post on GitHub.

### Error output:
[code]

[2020-10-06 13:38] librewish commented on #127
The actual issue is desktop computer with no battery shows
Battery is : discharging

I am also experiencing the same

Its a major issue for desktop pc where there is no battery and  need performance

[2020-10-08 01:29] whorider commented on #26
Another setting to consider, please:
I am visually impaired and I'd like to slow the refresh rate from default 5 to ~10 seconds in --monitor mode; It's a little too fast for my eyes ;)

[2020-10-08 19:15] tunix opened #128 "snap service is always inactive"
Hi,

Thank you for developing such a tool. The Youtube video is amazing and it's actually the reason why I'm excited about it.

I have Dell Precision 5530, running Ubuntu 20.04.1 LTS. I installed the snap package and expected the service (daemon) started. It seems to be enabled but inactive:

[code]

Looks like it doesn't really work in the background as it's not changing the governor and turbo bo

[2020-10-09 23:20] corndog2000 opened #129 "Cannot install on Fedora Silverblue 32 with ./auto-cpufreq-installer"
### Error output:
[code]
---

### System information:
[code]
---

[2020-11-10 05:09] Creator54 opened #130 "[request] NixOS support"
Please add support for NixOS

[2020-11-30 17:55] yochananmarqos commented on #87
@Kwaadpepper `cpufreq` conflicts with `auto-cpufreq` as they both install the same `cpufreqctl` binary.

Compare `cpufreq`'s [`cpufreqctl`](https://github.com/konkor/cpufreq/blob/master/cpufreqctl) and `auto-cpufreq`'s [`cpufreqctl.sh`](https://github.com/AdnanHodzic/auto-cpufreq/blob/master/scripts/cpufreqctl.sh).

[2020-12-01 00:36] yochananmarqos commented on #93
It is indeed related, but there's no logs I can find. I lockup like that doesn't record anything since one has to hold the power button to restart. I just reproduced it on the same laptop, a Dell Inspiron 5575 with a Ryzen 5 2500U.

However, there is good news. I'm having no issues on my new System76 Serval WS with a Ryzen 7 3700X.

[2020-12-03 00:25] joaoherberto opened #132 "[Feature] Watch CPU frequency in near real time."
This is not an issue, I just want to share this code snippet for monitoring CPU frequency in almost realtime. I use auto-cpufreq on all my Linux devices, even desktops and it is always nice to see if it is working properly or not. Note: I found this code months ago and unfortunately I don't know whom to give credit.

Just run this command from the terminal
`watch -n.1 "cat /proc/cpuinfo | grep \"^

[2020-12-03 18:45] linuxundich opened #133 "When plugged in auto-cpufreq --log reports write error"
I installed auto-cpufreq 1.3.4 under Arch Linux from AUR. I'm able to activate the service, and it looks ok. The only thing I notice is that I get the following error messages when watching the log with `auto-cpufreq --log`. I get those messages only, when my computer is charging. When it's running on battery, I get no errors.

[code]

Is there an conflict with /usr/bin/cpufreqctl? I tried to disa

[2020-12-06 08:36] AdnanHodzic commented on #87
auto-cpufreq [will take a backup of original ](https://github.com/AdnanHodzic/auto-cpufreq/blob/d0aeb8c2a2efc692e07fee098b9f8757b452591e/source/core.py#L157)`cpufreqctl` if it detects it and will use its own version which has slight improvements over the original.

[2020-12-06 08:43] AdnanHodzic commented on #133
No there shouldn't be any conflicts, please refer to [my comment ](https://github.com/AdnanHodzic/auto-cpufreq/issues/87#issuecomment-739472789)in: #87

[2020-12-06 15:39] yochananmarqos commented on #87
@AdnanHodzic Ah, I see. That will have to be manually dealt with in the AUR package, see my [install file](https://github.com/yochananmarqos/pkgbuilds/blob/master/auto-cpufreq-git/auto-cpufreq.install#L26). I've let the AUR maintainers know.

[2020-12-06 15:56] AdnanHodzic commented on #87
Cool thanks. I think it would be the best if AUR install file did the same thing `auto-cpufreq` is trying to do if `cpufreqctl` is detected, but let's see if @crian has something against this approach.

[2020-12-06 17:25] AdnanHodzic commented on #109
@marc0der update: you were the first one to report this problem, over time I also got couple of more similar comments which got me paying closer attention to the overheating problem. After analyzing this for more then a month I noticed I had the same problem you were experiencing (although my was lot less severe then yours).

I noticed that CPU temperatures would be lot higher when turbo was enabl

[2020-12-06 18:09] crian commented on #87
I'm fine with this. Currently updating the AUR pkg.

[2020-12-06 18:42] AdnanHodzic commented on #110
@Ahmed-E-86 I've just released [v1.5.0 which should tackle problem of high CPU temperatures (overheating)](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.5.0).

Could you please try it out and report if you have same problem with these changes?

[2020-12-06 18:48] AdnanHodzic commented on #87
Nice, thanks. Let me know once this has been done, so I can close this and #133.

[2020-12-06 18:54] AdnanHodzic commented on #132
Glad to hear this!

In that case I'm marking this as a [request]. I think this feature would be perfectly implemented as part of what's requested in #87

I don't know when I'll have time to implement this feature, so if you're up and know bit of Python please make the changes yourself and submit a PR. I'll be glad to do the code review.

If anything you'll be given credit as [part of Releases](htt

[2020-12-06 19:15] crian commented on #87
Done https://aur.archlinux.org/cgit/aur.git/commit/?h=auto-cpufreq-git&id=ff0101f0f6552eb085ede88f132d9cb1677f72f1

[2020-12-06 19:24] AdnanHodzic commented on #87
@crian awesome, thanks!

@yochananmarqos and everybody else who had problems with `cpufreqctl` AUR conflict, if the problem persist please open a new issue as it got out of scope from the original request. Thanks

[2020-12-06 19:28] AdnanHodzic commented on #133
@linuxundich problem has been resolved as [part of AUR package](https://github.com/AdnanHodzic/auto-cpufreq/issues/87#issuecomment-739549066). If you still have the same problem please feel free to re-open the issue.

[2020-12-06 19:28] #133 closed

[2020-12-06 22:14] marc0der commented on #109
Hey @AdnanHodzic, thanks for the update!

I'll most certainly give it another spin over the next few days. I've just received my new laptop, a Dell XPS 13, and have installed Debian Bullseye with auto-cpufreq. At first glance, things are looking good, although it seems like turbo mode is always on even when on battery. This is even true when the machine is completely idle. Is this expected, or sho

[2020-12-06 23:53] AdnanHodzic commented on #109
@marc0der as always excellent observations. I just [release v1.5.1](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.5.1) which should address issue you were mentioning.

In case something isn't working as expected, please include output of:

[code]

[2020-12-07 00:02] yochananmarqos commented on #87
@AdnanHodzic: Really? Thanks.

/me clears throat loudly

[2020-12-07 07:23] AdnanHodzic commented on #87
I like to give people credit for their work. Even if it's as simple as creating new version of AUR package which fixes a bug or 2.

[2020-12-07 07:31] crian commented on #87
You should give the credit to @yochananmarqos as he fixed it.

[2020-12-07 07:32] AdnanHodzic commented on #127
I believe with [>= v.1.5.0 release ](https://github.com/AdnanHodzic/auto-cpufreq/releases)this problem has been fixed, as turbo state is very easily triggered. As I know a few people who use it on a desktop and don't have this problem.

Could you please verify if this is still the problem?

Thanks

[2020-12-07 07:40] AdnanHodzic commented on #87
@crian thanks for the heads up, I completely missed it. @yochananmarqos sorry about that! Updated [1.5.1 release contributors list](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.5.1).

[2020-12-07 08:59] librewish commented on #127
[code]

[2020-12-07 09:11] librewish commented on #127
sudo auto-cpufreq --debug
[code]

[2020-12-07 09:26] NJOYSoftware opened #136 "Python pip not updated on opensuse Leap"
Hi, while installing auto-cpufreq on an fresh opensuse leap (with #135 installer script), I stumbled on the following warning:
[code]

Could it be useful to check updates for pip in the install script?

[2020-12-07 12:35] marc0der commented on #109
I've just installed v1.5.1 and it looks like the turbo mode is behaving as expected. I'll do some further testing over the next day or so and report back anything here. I'll close the issue if I have no further issues.

And thanks again for investing your time in this great tool. Excellent work!

[2020-12-07 16:35] marc0der commented on #109
I've done some testing today with `v1.5.1` while working and still seeing some inconsistencies:

When the laptop is on the power supply, the governor is set to _performance_ with turbo mode _on_. However, the CPU frequency always remains around 1300MHz.

The specification for my CPU states that turbo mode should see frequencies of around 3900MHz under load. I tested this by compiling a sizable Rus

[2020-12-07 18:38] freshgiammi commented on #133
This issue seems to persist on my end, even with the lastest [auto-cpufreq-git](https://aur.archlinux.org/packages/auto-cpufreq-git/) update, and with a clean install too. Same behaviour, this only occurs while connected to power.

[2020-12-07 19:21] AdnanHodzic commented on #109
Thanks!

This is weird and definitively shouldn't happen. As now in v1.5.0 [if charging and it detects >= 20% CPU usage](https://github.com/AdnanHodzic/auto-cpufreq/blob/master/source/core.py#L476) it should go to the maximum it's capable off.

I think the problem is probably related to i7-1065G7 support on 4.9 Linux kernel (or some BIOS setting?). As from what I see here, it's maximum frequency s

[2020-12-07 19:24] AdnanHodzic commented on #136
Absolutely as long as it doesn't introduce any additional complexity and introduces new problems.

[2020-12-07 23:35] romario74 commented on #127
$ sudo auto-cpufreq --debug

-------------------------------------------------------------------------------

Linux distro: Manjaro Linux 20.2 Nibia
Linux kernel: 5.9.12-1-MANJARO
Processor: Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz
Cores: 8
Architecture: x86_64
Driver: intel_cpufreq

------------------------------ Current CPU states ------------------------------

CPU max frequency: 3600 MHz
CPU mi

[2020-12-08 12:26] marc0der commented on #109
I rebooted the system and the problem seems to have been resolved now.
I'm closing this issue as the overheating has definitely been resolved now. Thanks!

[2020-12-08 12:27] #109 closed

[2020-12-08 15:31] alkaphreak opened #137 "[Request] Display auto-cpufreq version and update availability"
It could be usefull to display current version and update availabilty.

[2020-12-08 15:45] Technical27 opened #138 "Device or resource busy error when setting EPP"
This doesn't happen when it sets governor to "powersave" and EPP to "balance_power"
### Error output:
[code]
---

### System information:
[code]
---

[2020-12-08 15:47] Technical27 commented on #130
I'm working on a package, but I get this error: #138. Other than that it appears to be mostly functional.

[2020-12-08 16:42] racuna opened #139 "KeyError: 'coretemp'"
I hope this info is enough, I can share with you more info if you need it. Also, my distro (PCLinuxOS) is not using systemd, maybe that can be relevant.

### Error output:
[code]
---

### System information:
[code]
---

[2020-12-08 16:51] Creator54 commented on #138
Could you share your modified source ? i did try to build  but had some python related issues and was just testing nixos so didnt gave much thought

in nixos for doing systemwide changes you need to modify  the configuration/hardware-configuration.nix file
thus auto-cpufreq would need to change the values via hardware-configuration.nix and do a nixos-rebuild --switch everytime for switching govern

[2020-12-08 17:05] Technical27 commented on #138
`powerManagement.cpuFreqGovernor = lib.mkForce null` didn't help me.
Nix package and patch [here](https://gist.github.com/Technical27/eda4d3d8efb7ec5f1ee8e7e24c9f8aeb).
The patch disables some copying and the install/removal

[2020-12-08 18:25] Technical27 commented on #138
Even weirder, is that it seems to actually change the governor and EPP. The error seems to have no effect.

[2020-12-08 20:40] AdnanHodzic commented on #137
Yes agreed, there are some attempts to detect version with `sudo auto-cpufreq --debug`, but it's not fully unified as some people install it using `auto-cpufreq-installer `and others using snap or AUR package. But I was planning to do this regardless.

Regarding update availability, you can simply click on ["Watch" notifications](https://docs.github.com/en/enterprise/2.15/user/articles/watching-an

[2020-12-08 20:46] AdnanHodzic commented on #130
@Technical27 great, looking forward to a PR from you soon.

[2020-12-08 20:54] AdnanHodzic commented on #138
I've never seen an error like this, but I think it might be related to NixOS itself and its packing? I'm saying this because for auto-cpufreq to work in Snap strictly confined mode, changes had to be [made  to snapd itself](https://github.com/snapcore/snapd/pull/8127).

Maybe something similar has to be done here?

[2020-12-08 20:56] AdnanHodzic commented on #139
Didn't you open this same bug back in January #14 which was fixed?

[2020-12-08 21:36] Technical27 commented on #138
NixOS doesn't limit programs and what they can do with the exectiption that `/nix/store` is readonly so, programs cannot modify their own binaries, libs, etc.
That is why I used a patch to prevent `scripts/cpufreqctl.sh` from being copied and to disable installing.

I am currently using TLP and that can modify the govenor and cpu frequencies perfectly.
`auto-cpufreq` works fine and it did change t

[2020-12-09 00:47] racuna commented on #139
Yes, the same. My bad, I forget about it.

I just update the script, but the problem remains the same. Sorry to duplicate de issue.

[2020-12-09 00:47] #139 closed

[2020-12-09 07:42] AdnanHodzic commented on #14
@Red-Eyed apparently the original author @racuna has the same issue, do you have any ideas what's going wrong here?

[2020-12-09 07:49] AdnanHodzic commented on #138
In that case maybe simply hide
[code]

output?

[2020-12-09 08:56] Red-Eyed commented on #14
Hello, so, do we steal has  `KeyError: 'coretemp'` on AMD ?

[2020-12-09 09:46] alkaphreak commented on #137
Did a previous install with snap version but i was wondering if it kept it to up to date so i needed to check the installed version ... no success.

[2020-12-09 12:51] Creator54 commented on #138
Could you explain how I could test this in my nix system I am bit of a noob 😅
I did try to include this in my configuration.nix but got issues .

[2020-12-09 12:52] racuna commented on #14
My laptop is intel based
[code]

[2020-12-09 12:54] Creator54 commented on #138
It's because nixos only allows system wide changes when done with /etc/nixos/configuration.nix file .

[2020-12-09 17:44] Red-Eyed commented on #14
@racuna so you have such error, can you provide logs?
I remember there was like `--debug` argument, that should show us what do we have instead of `coretemp` from `psutil`

[2020-12-09 18:41] AdnanHodzic commented on #137
You can check this by running:

[code]

[2020-12-09 19:20] racuna commented on #14
Hi again.

Instead of just git pull to update.

I deleted the old auto-cpufreq folder, I cloned it again. Then removed the old auto-cpufreq script from /usr/bin with --remove option and installed it again from the new cloned cpu.

Now is working. Thank you very much.

My distro doesn't have systemd so I put the auto-cpufreq script with --daemon option in a @reboot line on the crontab. I hope this

[2020-12-10 08:51] alkaphreak commented on #137
Nice, thanks for the tips

[2020-12-11 22:06] Ahmed-E-86 commented on #110
I installed it, and used `sudo auto-cpufreq --monitor` without installing the daemon, and CPU usage spikes from 6 to 8% for 2 seconds every 5 seconds, because of it.

[2020-12-13 21:39] drws commented on #91
The question how to properly clean up if `auto-cpufreq --install` was accidentially ran is remaining. If Arch is kept as an exampe, is it enough to remove the package and install it properly again or is there anything else that needs to be done?

[2020-12-14 23:40] freshgiammi commented on #138
This issue might not be caused by NixOS. I've replicated (actually, since I started using auto-cpufreq) this same issue on Arch running on a XPS 9500. Fairly sure it's not something in my configuration as well, as this has appened after a clean install.

[code]

auto-cpufreq --debug
[code]

On my side though, governor is changing but EPP isn't, as reported by the error message.

[code]

[2020-12-15 18:38] AdnanHodzic commented on #91
You accidentally ran `auto-cpufreq --install`? Run `auto-cpufreq --remove` and it's gone.

Also removing the package should remove both auto-cpufreq and running install.

[2020-12-18 20:21] drws commented on #91
I was going through the docs but missed it somehow. Thank you for clearing it up!

[2020-12-20 04:56] msmzuppa opened #140 "crash running application"
### Error output:
[code]
---

### System information:
[code]
---

[2020-12-20 08:34] AdnanHodzic commented on #140
Please include output of: `sudo auto-cpufreq --debug`

[2020-12-21 13:16] Tajnymag commented on #133
I can confirm this issue is still present when installed from the recommended auto-cpufreq-git package.

[code]

[2020-12-23 12:44] OutOfPhase87 opened #141 "CPU frequency not scaling down to minimum on battery (AC too)"
Hi Adnan,

I'm not sure if this behavior is considered normal or not.
Many thanks if you get a chance to get back to me.

If the laptop is disconnected from the power source, the CPU freq stays locked at around 2.4Ghz (even though the minimum possible appears to be 800MHz)

### Laptop on battery:
[code]
---

Same behavior can be observed while connected to AC power.

### Laptop on AC power:
[code]

[2021-01-02 07:59] radumitrescu opened #142 "Error while installing"
### Error output:
[code]
---

### System information:
[code]
---

[2021-01-03 17:54] AdnanHodzic commented on #142
You're missing `pip3`, not sure how that's the case, but installing it should fix this issue.

Otherwise I would just suggest [AUR package for Manjaro](https://github.com/AdnanHodzic/auto-cpufreq/#aur-package-archmanjaro-linux).

[2021-01-03 20:36] likeadoc commented on #138
@AdnanHodzic This is related to the implementation of hardware managed performance states (HWP) in intel_pstates. If HWP is activated and the performance governor is selected the EPP value is overwritten with a 0 (performance) and made read only. [[1]](https://www.kernel.org/doc/html/latest/admin-guide/pm/intel_pstate.html#hwp-performance).

You could implement a simple if condition that checks if

[2021-01-03 21:12] AdnanHodzic commented on #138
@likeadoc thanks for clarification and heads up! Since I'm very busy at the moment, if you or anyone else in this report could make these changes and [create a PR,](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request) I would greatly appreciate it. If anything, your contribution would be listed on [releases page](https://github

[2021-01-05 12:25] marc0der opened #143 "The `--log` option attempts to perform write operations"
When running `auto-cpufreq --log`, it seems as though `cpufreqctl` is being invoked in such a way that it attempts to set some energy performance preference. The function in `cpufreqctl` that is failing is the following:

[code]

On a log command, I would expect to see only read operations being invoked, no write operations. I'm seeing these write errors even when the command is run as the `root`

[2021-01-06 11:25] ErikReider commented on #142
@AdnanHodzic I have the same issue and I 100% have pip3 installed. The file `auto-cpufreq-install.sh` is not found in the `/usr/share/auto-cpufreq/scripts` dir

[2021-01-07 09:12] thhart opened #144 "How to configure"
Is it possible to adjust some thresholds?
If so, where this can be done? Is there any configuration file?

[2021-01-07 11:47] StanislavUngr commented on #144
There seems to be feature request in https://github.com/AdnanHodzic/auto-cpufreq/issues/26

[2021-01-07 11:54] thhart commented on #26
Hi, I can see it is not easy to have configuration in caged environments, this is a starting point for snap:

https://snapcraft.io/docs/adding-snap-configuration

[2021-01-07 11:58] thhart commented on #144
I see, did not find it, but maybe it is worth to mention something in README.md about it (even when not available yet.

[2021-01-07 11:58] #144 closed

[2021-01-07 12:03] thhart commented on #26
IMHO it is not necessary to have a rich configuration interface. But it would be very helpful to have some options being configurable in general. Personally I would like to be able to configure following threshold:
Turbo mode on/off depending on load average and temp

[2021-01-07 23:25] OutOfPhase87 commented on #141
I'll close this issue as I've moved to another Linux distro.

[2021-01-07 23:25] #141 closed

[2021-01-08 07:35] AdnanHodzic commented on #141
Just for clarity, you moved to another distribution and this problem wasn't present there?

[2021-01-08 07:38] AdnanHodzic commented on #142
@crian @yochananmarqos do you know if this is related to AUR package or it's something else? Thanks

[2021-01-08 08:10] AdnanHodzic commented on #143
Reason for this is that some changes were made to [auto-cpufreq's version of cpufreqctl](https://github.com/AdnanHodzic/auto-cpufreq/blob/master/scripts/cpufreqctl.sh), and to make sure we're using this version that's the reason why if present, `cpufreqctl` will be turned into a backup and be restored after auto-cpufreq removal. Decision was made in this #84 to also have same changes in AUR packag

[2021-01-08 14:23] OutOfPhase87 commented on #141
I don't have Auto-CPUFreq installed on this new distribution (Using TLP to set the CPU governor)

[2021-01-08 15:58] yochananmarqos commented on #142
@AdnanHodzic Pip (`python-pip`) is not necessary for the AUR package.

@radumitrescu: Check the [README](https://github.com/AdnanHodzic/auto-cpufreq#aur-package-archmanjaro-linux)

[2021-01-10 04:13] adworacz commented on #127
Same issue for me - I'm on a desktop and battery is seen as discharging.

Debug output:
[code]

If it helps, here's my /sys/class/powersupply directory:
[code]

[2021-01-12 18:59] JJGadgets opened #145 "Ryzen 4750U not showing temperature output with no error"
Hey, my CPU temperature doesn't seem to be reported on auto-cpufreq on my Ryzen 7 4750U ThinkPad T14 on Manjaro KDE kernel 5.9.16-1. s-tui seems to work just fine tho, so does ZenMonitor. I do not get an error in auto-cpufreq despite the temperature clearly being not displayed, compared to #14.

### Error output:
[code]
---

### System information:
[code]
---

[2021-01-16 01:04] Technical27 opened #146 "How are distros supposed to deal with the log file?"
I'm creating a NixOS module at NixOS/nixpkgs#109065, and the topic of the log file came up. The problem is that there is no automatic way to clear the file and the file grows by 2KB every 5 seconds. Also the log file has to exist before hand, otherwise the service doesn't start. We are confused about how do deal with the log file since it continually grows in size and there isn't an automatic way

[2021-01-17 01:09] freshgiammi commented on #138
Did a small change that has been running without issues for a couple of days on my end, so I forked and opened a PR. All works fine on my XPS 9500 (i7-10750H), YMMV but it really shouldn't.
Those interested should try it.

[2021-01-17 09:16] #138 closed

[2021-01-17 09:27] AdnanHodzic commented on #138
Changed mentioned by @freshgiammi are also live as part of [auto-cpufreq 1.5.2 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.5.2).

[2021-01-17 09:28] AdnanHodzic commented on #143
Changes which should address this problem are now live as part of [auto-cpufreq 1.5.2 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.5.2).

[2021-01-17 09:37] AdnanHodzic commented on #146
I think simplest way to empty the log would be to either add functionality to clear contents of this file as part of [countdown function](https://github.com/AdnanHodzic/auto-cpufreq/blob/master/source/core.py#L294).

Or, create a new function which would deal with clearing logs contents, and could be called [subsequently after countdown](https://github.com/AdnanHodzic/auto-cpufreq/blob/master/bin/

[2021-01-17 09:38] AdnanHodzic commented on #145
@Red-Eyed since I know you have an AMD, does any of this ring a bell for you?

[2021-01-17 12:00] Red-Eyed commented on #145
So, this is not an issue, `psutil` shows temperature for some AMD, for some it doesn't.
For my AMD it shows temperature, but for others, I had to set values to NaN in cases when it doesn't provide cpu temp

[2021-01-17 12:02] Red-Eyed commented on #145
@JJGadgets, as we don't have Ryzen 4750U, would be nice to know, where is located the actual temperature for Ryzen 4750U ?

[2021-01-17 12:10] Red-Eyed commented on #145
@AdnanHodzic  If I don't make a mistake, I remember there was a cmd option "--debug" which shows `psutil`'s output.

[2021-01-17 12:13] Red-Eyed commented on #14
@AdnanHodzic this should be closed

[2021-01-17 12:19] Red-Eyed commented on #145
@JJGadgets can you execute these commands (**without** `sudo`) and post here the output?
[code]

[2021-01-17 13:45] #14 closed

[2021-01-17 15:04] tpeacock19 commented on #145
I ran into this issue with Ryzen 7 4750U ThinkPad T14 on Arch Linux. Zenmonitor replaced the k10temp module with zenpower which I do not believe works with auto-cpufreq.

[2021-01-19 02:10] Technical27 commented on #146
@AdnanHodzic PR at #148

[2021-01-19 03:01] JJGadgets commented on #145
Hey, sorry I have been a bit busy lately, all replies may also be delayed but I’ll try my best to keep up.

Just as an update: I’m currently on my PopOS install in a lecture where I don’t have auto-cpufreq installed right now, I’ll boot into Manjaro in a few hours once I’m out and report back.

[2021-01-19 03:02] JJGadgets commented on #145
ZenMonitor and s-tui appear to be accurate.

[2021-01-19 04:04] Red-Eyed commented on #145
Sorry, I didn't mean tools, I meant, which place of `sysfs` the temperature is located in?
Sure, if you know what the `sysfs` is.

Anyway, executing that command will help, and you can do that on any modern distro (the latest pop os is fine), it doesn't matter

[2021-01-19 14:41] marc0der opened #149 "Installation package clobbers system-wide `cpufreqctl`"
The installation process in both snap and native package managers moves the existing `cpufreqctl` script out of the way to replace it with the one bundled with `auto-cpufreq`. This violates the integrity of the `cpufreqctl` package, because the system is no longer running the version that the package manager installed.

Two options that can solve this issue:
* depend on the `cpufreqctl` package in

[2021-01-20 02:57] tpeacock19 commented on #145
When  Zenmonitor is installed I get the following:

[code]

When you uninstall Zenmonitor and install lm_sensors, it workts with auto-cpufreq and shows the below:

[code]

[2021-01-20 07:42] AdnanHodzic commented on #146
@Technical27 thanks, added comments

[2021-01-20 13:18] Red-Eyed commented on #145
Thank you @tpeacock19 , according to your output, I made a fix!
Can you check it?

[2021-01-20 15:15] tpeacock19 commented on #145
I'm unsure which of these fixes is correct, but using this commit https://github.com/Red-Eyed/auto-cpufreq/commits/fix_145 does indeed work.

[2021-01-20 15:24] tpeacock19 commented on #145
Actually, I believe it throws an error unless it is changed to one of the below:

Shows 16 CPU.
[code]

or showing one CPU

[code]

[2021-01-20 20:05] Red-Eyed commented on #145
Oh I see, I used very old branch, and then just merged my changes

[2021-01-20 20:20] #145 closed

[2021-01-20 20:23] AdnanHodzic commented on #145
Changes have been merged with master, new [1.5.3 release](https://github.com/AdnanHodzic/auto-cpufreq/releases) will be released shorty, after which these changes will also be propagated to AUR and snap packages.

[2021-01-20 20:38] AdnanHodzic commented on #149
Changes have been merged with master, new [1.5.3 release](https://github.com/AdnanHodzic/auto-cpufreq/releases) will be released shorty, after which these changes will also be propagated to AUR and snap packages.

Hence closing this issue.

[2021-01-20 20:38] #149 closed

[2021-01-21 09:15] dr460nf1r3 opened #155 "Newest version broken"
### Error output:
[code]
---

### System information:
[code]
---

[2021-01-21 09:37] dr460nf1r3 commented on #155
Turns out, this was a PKGBUILD issue which just got fixed by the maintainer.

[2021-01-21 09:37] #155 closed

[2021-01-21 12:11] cyriana commented on #127
Hello there,

I have this issue, too. Auto-cpufreq reports discharging on desktop pc.

`ls -la /sys/class/power_supply                                                                                                                  ─╯
insgesamt 0
drwxr-xr-x  2 root root 0 21. Jan 08:57 .
drwxr-xr-x 70 root root 0 21. Jan 08:57 ..
lrwxrwxrwx  1 root root 0 21. Jan 08:57 ucsi-source-psy-0-00081 -> .

[2021-01-24 13:25] #146 closed

[2021-01-24 13:57] AdnanHodzic commented on #143
I think this should be fixed with [auto-cpufreq 1.5.3 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.5.3) and changes made to improved logging, could you please confirm?

[2021-01-24 13:59] AdnanHodzic commented on #142
I'm closing this issue, as part of [1.5.3 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.5.3), besides AUR auto-cpufreq can also be installed using [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq/#auto-cpufreq-installer).

[2021-01-24 13:59] #142 closed

[2021-01-24 13:59] #136 closed

[2021-01-24 13:59] #140 closed

[2021-01-24 13:59] AdnanHodzic commented on #140
Closed to due inactivity.

[2021-01-24 14:00] AdnanHodzic commented on #136
Fixed as part of I'm closing this issue, as part of [1.5.2 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.5.2).

[2021-01-24 14:03] AdnanHodzic commented on #129
Changes have been made as part of [1.5.3 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.5.3) which should resolve this issue, could you please run install again?

Please re-open the issue if the issue persists.

[2021-01-24 14:03] #129 closed

[2021-01-24 14:05] AdnanHodzic commented on #128
I apologize for such delayed reply. You can check snap package daemon status by running:

[code]

as explained on projects [README](https://github.com/AdnanHodzic/auto-cpufreq/#install---auto-cpufreq-daemon).

[2021-01-24 14:05] #128 closed

[2021-01-24 14:06] marc0der commented on #143
I can confirm that this is working as expected now.

[2021-01-24 14:06] #143 closed

[2021-01-24 14:08] AdnanHodzic commented on #29
Until this request is implemented, I would advise you to install [auto-cpufreq from a snap](https://github.com/AdnanHodzic/auto-cpufreq/#snap-store) package.

[2021-01-24 16:02] marc0der opened #156 "Proposal to rethink the logging domain"
Something that seems somewhat unclear is how logging is defined in auto-cpufreq.

Usually, we would speak of a logger as a component that appends discrete lines of information to some appender. For instance, think of tailing the logs of a docker container. Each line contains a timestamp and represents an event that occurred on the system.
Here is an example of the logs of my local mongodb containe

[2021-01-25 09:47] Mek101 opened #157 "Deb package?"
Would it be possible to release a deb package, instead of using a shell script?

[2021-01-26 21:12] MischievousTomato commented on #157
I second this, as I'm currently using Debian, this will also benefit Ubuntu users.

[2021-01-27 16:47] responsablyat commented on #155
can i know how to fix this issue ?

[2021-01-27 19:53] AdnanHodzic commented on #155
Maintainer of AUR package needs to update the package as I voiced in #150

Until this is done, you can install auto-cpufreq using [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq#auto-cpufreq-installer).

[2021-01-30 20:22] k-chapin commented on #157
I also agree. A deb would be great!

[2021-02-01 20:06] MesteMonokrom opened #161 "Unable to remove via --remove option for Snap package"
### Error output:
[code]
---

### System information:
[code]
---

[2021-02-02 06:47] AdnanHodzic commented on #156
Hi @marc0der, another great proposal :) I'm sorry I didn't get a chance to reply to this earlier,

I like this idea, only thing that I would propose is to potentially leave `--log` flag there for awhile, informing users that now they should use `--stats`.

+1, we had a long discussion as part of #148 if expand `scripts/auto-cpufreq.service` resolved comment discussion. But I agree that we need to

[2021-02-02 19:58] #161 closed

[2021-02-02 19:59] AdnanHodzic commented on #161
@MesteMonokrom changes have been pushed, run `snap refresh auto-cpufreq` to fetch latest changes.

Please feel free to re-open the issue if the problem persist.

[2021-02-02 20:21] #127 closed

[2021-02-02 20:24] AdnanHodzic commented on #127
Changes which should address this issue have been merged as part of #162 are merged with `master`.

Changes will be released to Snap and AUR package as part of [1.5.4 release](https://github.com/AdnanHodzic/auto-cpufreq/releases) which will be released later today or tomorrow.

[2021-02-02 20:44] marc0der commented on #156
No probs at all. Now that the first PR is merged I'll begin looking at the logging part of this proposal.

[2021-02-03 18:41] pheiduck opened #164 "System is discharging but auto-cpufreq detects charging"
### Error output:
[code]
---

### System information:
[code]
---

[2021-02-03 19:34] ThePoorPilot commented on #164
First, what version of auto-cpufreq are you running?
The recent update fixed an issue for desktops, but it could come at the detriment of laptops.

If you are running the latest version, what is the output of the command "hostnamectl status | grep Chassis | cut -f2 -d ":" | tr -d ' '

[2021-02-03 19:48] AdnanHodzic commented on #164
@pheiduck make sure you're using the latest version, [1.5.4 was released](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.5.4) few hours ago. If AUR package is older, you can also install latest version using [auto-cpufreq-installer](https://github.com/AdnanHodzic/auto-cpufreq#auto-cpufreq-installer).

Could you also return output of `dmidecode --string chassis-type` and please confirm

[2021-02-03 19:51] ThePoorPilot commented on #164
Yeah I read through the change and caught that. There could be a slight issue with dmidecode, though.

On my system I get this output when I run dmidecode --string chassis-type:
/sys/firmware/dmi/tables/smbios_entry_point: Permission denied
/dev/mem: Permission denied

I have to run it with sudo for it to output "Desktop"

I would guess that "permission denied" falls under else

[2021-02-03 19:58] ThePoorPilot commented on #164
@AdnanHodzic
I also tested a python script that prints out the result of "dmidecode --string chassis-type" and I got the same permissions error.

It looks like we need to find a command that doesn't require systemd and doesn't require sudo.

[2021-02-03 20:04] AdnanHodzic commented on #164
auto-cpufreq runs with permissions, so always use sudo in this case.

I think we'll have a problem with this implementation where we don't want a missing case. Right off the bat "Desktop" option needs to be explicitly defined as I voiced in [specifically](https://github.com/AdnanHodzic/auto-cpufreq/issues/164#issuecomment-772776212).

I'm pretty certain that in @pheiduck case "Notebook" wasn't det

[2021-02-03 20:10] ThePoorPilot commented on #164
@AdnanHodzic
I guess that makes sense as it auto-cpufreq is a system daemon, just didn't know enough about linux internals to be able to tell if it had permissions.

I think it would be smart to use else for the laptop based settings and instead actively look for "Desktop."
I can make that modification pretty easily, as I believe it is pretty late at night for librewish.

I could also look at all

[2021-02-03 20:26] ThePoorPilot commented on #164
I checked on my Thinkpad with Manjaro and it does indeed also have dmidecode installed by default, so it may actually be a case where it misidentified the chassis as you said.

Again, I guess I'm just impatient. Let's wait for pheiduck's output.

[2021-02-03 20:26] AdnanHodzic commented on #164
@ThePoorPilot

No worries, lesson lived, lesson learned! :)

That would be great! If you could collect as many outputs of `sudo dmidecode --string chassis-type` running on laptops, this way we could make sure that all cases are covered so we don't have this kind of bugs. As this tool is mostly used on laptops and was created with that in mind.

If you did that, and either you or @librewish or both

[2021-02-03 20:29] ThePoorPilot commented on #164
@AdnanHodzic

Alright, I'll move over there when I have more updates

[2021-02-04 05:42] pheiduck commented on #164
[code]
But its never a thing now, was doing the update again from auto-cpufreq 1.5.3 to 1.5.4 and it works :thinking:

[2021-02-04 06:19] AdnanHodzic commented on #164
Thank you @pheiduck this is a confirmed issue now, I also confirmed it on one of my own laptops. It was introduced with #162, #163 and since it breaks core functionality of this tool it'll be dealt with upmost urgency. Stay tuned.

[2021-02-04 07:08] #164 closed

[2021-02-04 07:15] AdnanHodzic commented on #164
@pheiduck problem has been fixed as part of [1.5.5 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.5.5). Please get the latest changes and re-open this issue if you're still experiencing the same problem.

[2021-02-04 17:25] pheiduck commented on #164
Yep, works again as expected Thank you @AdnanHodzic :+1:

[2021-02-04 18:21] AdnanHodzic commented on #130
@Technical27 was going through open issues, are there any updates on this?

[2021-02-04 18:29] Technical27 commented on #130
The package is now in nixos-unstable, but the module isn't. So instead of `services.auto-cpufreq.enable = true`
you need to put
[code]
for now. Someone should be reviewing the module now, that hopefully should get merged soon. When that gets merged, I'll close this.

[2021-02-04 18:33] AdnanHodzic commented on #130
Nice, glad to hear this! Please keep me updated on progress of this, as in the end it would be nice to have instractions on how to install auto-cpufreq on NixOS as part of [ReadMe](https://github.com/AdnanHodzic/auto-cpufreq/blob/master/README.md).

[2021-02-04 19:39] schinfo opened #169 "[Bug] Wrong tag - 1.5.4.r4.gd062ca9"
You've not set the right tag - was 1.5.5, but now it's 1.5.4 and should be 1.5.6

[2021-02-04 20:16] AdnanHodzic commented on #169
Sorry, which tag are you talking about? All tags are listed [under releases](https://github.com/AdnanHodzic/auto-cpufreq/releases).

I'm also currently working on new changes and planning to make a new tag and release `1.6.0` in upcoming few days.

[2021-02-04 20:56] schinfo commented on #169
And where is 1.5.6 ?

[2021-02-04 21:13] AdnanHodzic commented on #169
It doesn't exist yet, earlier today I worked on a branch called [v1.5.6](https://github.com/AdnanHodzic/auto-cpufreq/tree/v1.5.6) which was merged into master and there's mention of [1.5.6 in snapcraft,yml](https://github.com/AdnanHodzic/auto-cpufreq/blob/master/snap/snapcraft.yaml#L3), as it's been pushed as such to Snap beta channel,but this will most likely be changed to 1.6.0

[2021-02-04 22:13] yochananmarqos commented on #169
Perhaps @schinfo asked the wrong question. What happened to the 1.5.5 tag? The latest. commit comes out as 1.5.4.r4.gd062ca9.

[2021-02-04 22:49] AdnanHodzic commented on #156
@marc0der JFYI, I've added [execution timestamp for to `--stats`](https://github.com/AdnanHodzic/auto-cpufreq/commit/d062ca940ffc6764b4072f727e3aba8ef938ca01), I refereed to it as[ part of your last PR](https://github.com/AdnanHodzic/auto-cpufreq/pull/160#issuecomment-771967853), so I thought why not just add it myself :)

[2021-02-04 23:01] AdnanHodzic commented on #169
I'm not sure ... what could've happened is that once [1.5.5 was released](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.5.5) based on 3985d3e. As additional reports on chassis-type were coming in [as part of my Tweet,](https://twitter.com/fooctrl/status/1357230198857564160) I updated the list and I amended my last commit and I did a force push.

After that I made few more commits/bra

[2021-02-05 15:58] JMS55 commented on #140
Make sure to run with sudo

[2021-02-06 21:04] AdnanHodzic commented on #57
Note added as part of [1.6.0 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.6.0).

I even re-wrote whole auto-cpufreq with multithreading in mind so this certain key could be detected (i.e: q, esc, etc) and app would quit. But due to lack of support for [keyboard input for window in focus of keyboard python library](https://github.com/boppreh/keyboard/issues/413), this featur

[2021-02-06 21:04] #57 closed

[2021-02-06 21:04] AdnanHodzic commented on #74
Fixed as part of [1.6.0 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.6.0).

[2021-02-06 21:04] #74 closed

[2021-02-06 21:04] AdnanHodzic commented on #137
Changes were made in [1.6.0 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.6.0). Where version that's being used is being showed for Snap/AUR/auto-cpufreq-installre (source).

[2021-02-06 21:04] #137 closed

[2021-02-06 21:52] AdnanHodzic commented on #169
Closing with release of [1.6.0 was released](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.6.0).

[2021-02-06 21:52] #169 closed

[2021-02-08 18:31] sainAk opened #174 "Scaling CPU cores based on CPU usage/uptime/other indicators"
The cpu frequency is lower than the minimum scaling frequency and doesn't increase on load, but on power supply the cpu reaches the max turbo boost frequency on full load

[code]

<details open>
    <summary>System information(Battery):</summary>

    -------------------------------------------------------------------------------

    Linux distro: Arch Linux
    Linux kernel: 5.10.13-arch1-2

[2021-02-08 18:35] congdo commented on #92
Should disabling bluetooth be part of auto-**cpufreq**

[2021-02-08 18:47] AdnanHodzic commented on #174
@librewish  guess governor on charging has been fixed now, but it seems now it won't trigger turbo boost?

[2021-02-09 04:47] librewish commented on #174
What people want is tgey want to scale frequency even on battery to performance
While depending on load
When no load tgey wabt powersave

[2021-02-09 09:01] sainAk commented on #174
Is this the expected behaviour on battery? cause the stats show turbo boost on so I thought that it would scale the frequency to handle the increased load.

A question though is the scaling frequency depended on the governor?

[2021-02-09 09:08] librewish commented on #174
Yes frequency scaling is dependent on governor
Powersave governor always try to keep frequency at minimum even on highest load so you will never use your pc at its full or even half its potential
While performance governor tries to keep frequency at maximum

[2021-02-09 09:14] sainAk commented on #174
Hmm then switching to conservative governor wit load on battery would be more appropriate
https://wiki.archlinux.org/index.php/CPU_frequency_scaling#Scaling_governors

[2021-02-09 09:25] sainAk commented on #174
I was wondering if it'll be good to scale only  a few cores to higher performance governor for battery and performance?
will the operating system distribute more demanding tasks to the cores with higher frequencies?

[2021-02-10 00:01] bbigras opened #175 "question: which TLP settings are recommended?"
source: https://www.reddit.com/r/linux/comments/ejxx9f/github_autocpufreq_automatic_cpu_speed_power/fd4y36k/

Is this what I need for boost?
[code]

For the governor I'm not sure. In the doc https://linrunner.de/tlp/settings/processor.html , I see how to set a specific governor but not how to tell TLP to leave the governor alone.

[2021-02-10 00:37] Technical27 commented on #130
More news, the module has been merged, and is now in NixOS unstable. A PR to update the package to 1.6.1 is also open, and I will review that soon.

[2021-02-11 07:05] AdnanHodzic commented on #130
Great news, keep them coming!

[2021-02-11 07:47] AdnanHodzic commented on #175
`auto-cpufreq` has all the necessary functionality to do this on your behalf automatically. Hence, I will not recommend settings you should use as part of TLP.

I would also suggest to move this question to [auto-cpufreq Discussions](https://github.com/AdnanHodzic/auto-cpufreq/discussions).

[2021-02-11 07:48] #175 closed

[2021-02-13 23:41] Shogu opened #180 "(Fedora33) cupfreq-installer seems to install all but command auto-cpufreq returns "command not found""
### Error output:
[code]
---

### System information:
[code]
---

[2021-02-13 23:43] Shogu commented on #180
Hi!

On Fedora, using installer and git source, everything seems to be installed correctly if i trust terminal, but commands fails
I read same issue with snap package on Fedora.

Any idea? Thanks a lot!

Ugo - France

[2021-02-14 09:39] AdnanHodzic commented on #174
There was a discussion regarding this in #69, or to put one such setting to settings file #26. If we go down this route I'm of an opinion that this is done automatically based on i.e: really low cpu usage/uptime and on battery.

I'll change title of this bug/issue report, so I keep it in mind for future.

[2021-02-14 09:56] AdnanHodzic commented on #180
Hi Ugo,

Yes, this is a known issue on Fedora & Snap package, please see second paragraph of "Please note" section for Fedora users as part of [Installing auto-cpufreq from Snap store](https://github.com/AdnanHodzic/auto-cpufreq#snap-store).

Since it's a known issue and there's no permanent solution for it now, I'll close the issue, feel free to re-open it if this doesn't solve your problem.

[2021-02-14 10:13] Shogu commented on #180
Thanks Adnan.

But on l'y Fedora this trouble appears with installer script, not with Snap.

[2021-02-14 13:38] AdnanHodzic commented on #180
You install auto-cpufreq with auto-cpufreq-installer and you run it and you get `bash: auto-cpufreq: command not found...`?

Can you provide `auto-cpufreq --debug` output?

[2021-02-14 19:15] Shogu commented on #180
Thanks a lot for spending time for me - for us with your tool!

I tried again after yesterday fails and do not know why, but i used same commands and today everything runs fine.

Sorry for the false alert.

Greetings from France!

Shogu

[2021-02-14 20:14] #180 closed

[2021-02-16 04:38] koushikkhan opened #181 "Can't deploy auto-cpufreq daemon running on Opensuse leap 15.2"
### Error output:
[code]
---

### System information:
[code]
---

[2021-02-20 14:31] AdnanHodzic commented on #181
Since @NJOYSoftware did OpenSuse implementation, do you have any clue what's the problem in this case?

[2021-02-20 15:29] NJOYSoftware commented on #181
As per:

Feb 16 10:00:56 user-pc systemd[3703]: auto-cpufreq.service: Failed at step EXEC spawning /usr/local/bin/auto-cpufreq: No such file or directory

@koushikkhan seems to not have the auto-cpufreq binary in the /usr/local/bin folder, so I guess setup.py has not copied correctly the file.
One thing you @koushikkhan can try to fix your problem is searching for `auto-cpufreq` with `find / -inam

[2021-02-24 03:19] Avnsx opened #185 "FileNotFoundError: [Errno 2] No such file or directory: '/sys/devices/system/cpu/cpu0/cpufreq/scaling_available_gov ernors'"
Cli input was ``~/auto-cpufreq$ sudo auto-cpufreq --monitor``
Installed with the git installer.

### Error output:
[code]
---

### System information:
[code]
---

[2021-02-25 20:08] AdnanHodzic commented on #185
@marc0der since you implemented parallel `cpufreqctl`, it seems like it's missing in this case. Any idea on this one?

[2021-02-28 05:13] aaumkar opened #186 "AC Power Forces turbo-boost ON"
When working on AC Power, the `turbo-boost` is forced `on` even when CPU load is low. When I remove AC power, the boost

### Error output:
on AC Power:
[code]
The moment I pull the plug out.
[code]
---

### System information:
on AC power
[code]
on Battery Power
[code]
---

[2021-03-07 21:10] marc0der commented on #185
Hi @AdnanHodzic,

Are we sure that this is related to my change? What I see from this error is that the following file path is missing and can't be read when running `--monitor` mode:

[code]

Also, running the debug, I see that this file is missing/not accessible:

[code]

Do you think that this might cause it? It seems like it might be a red herring. WDYT?
[code]

[2021-03-08 15:08] frankiexyz commented on #186
Yes, I observe the same thing and I am manually changing this to off (https://github.com/AdnanHodzic/auto-cpufreq/blob/master/auto_cpufreq/core.py#L564)
It appears if the function will enable turbo when you are charging by default unless the CPU temperature is more than 60 degree.

I will test my change a few days. If it works well , I will raise a PR.

[2021-03-09 07:01] AdnanHodzic commented on #186
Great, good luck and looking forward to the PR!

[2021-03-09 07:17] AdnanHodzic commented on #185
@marc0der I'm not absolutely sure your change introduced it, but I think it's possible.

If you have time to look into this that would be great. Think it might be both things.

[2021-03-09 18:43] AdnanHodzic commented on #185
@marc0der not sure about the kernel, reporting from 5.4.0 and I get no such errors. I also might think that for Xeon paths to these 2 might be different:

[code]

Need @Avnsx to confirm this of course.

[2021-03-11 17:29] #186 closed

[2021-03-11 18:37] AdnanHodzic commented on #185
@Avnsx new changes have been made as part of [1.6.3 release](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.6.3) which could potentially solve your problem, could you try it out?

[2021-03-14 05:31] surenther opened #189 "Pop OS Snap install error"
### Error output:
Traceback (most recent call last):
  File "/snap/auto-cpufreq/70/bin/auto-cpufreq", line 14, in <module>
    from auto_cpufreq.core import *
  File "/snap/auto-cpufreq/70/lib/python3.8/site-packages/auto_cpufreq/core.py", line 66, in <module>
    dist_name = distro.id()
  File "/snap/auto-cpufreq/70/lib/python3.8/site-packages/distro.py", line 204, in id
    return _distro.id()

[2021-03-15 21:26] Avnsx commented on #185
new verison:
[code]

[2021-03-15 21:48] Avnsx commented on #185
Also it's whatever as I don't really see a point in further bothering, thanks anyways

[2021-03-15 21:48] #185 closed

[2021-03-15 22:11] theol0403 opened #191 "Unnecessary disk io with custom cpufreqctl"
Upon doing some profiling on my computer to reduce ssd wear, I noticed that this tool continuously writes to `/usr/bin/cpufreqctl.auto-cpufreq` every refresh cycle. This seems unnecessary, and I'm a little unsure about the negative impacts of this.

Would it be possible to only install the custom script one time, as part of the setup process, and then leave it there? I'm not sure why it's not, cou

[2021-03-20 06:34] AdnanHodzic commented on #185
@Avnsx you had this problem with 1.6.3?

If this is the case can you include output of:

[code]

[2021-03-20 06:37] AdnanHodzic commented on #191
Is this is the still the case [1.6.4](https://github.com/AdnanHodzic/auto-cpufreq/releases/tag/v1.6.4)?

@marc0der considering your involvement with this one, any thoughts?

[2021-03-20 09:03] marc0der commented on #191
@AdnanHodzic the work I did only introduced a parallel version of this executable but did nothing in terms of how it is used or placed on the file system. I can take a look to see if this can be optimised further.

[2021-03-20 09:44] AdnanHodzic commented on #191
@marc0der I know, please don't take this the wrong way :)

I noticed increase in issues related to `cpufreqctl.auto-cpufreq` (although I don't see any reason for it). Hence I'm trying to eliminate false positives and attempting to figure out what the real cause is.

@theol0403 please confirm if this is still the problem with 1.6.4

[2021-03-20 09:46] theol0403 commented on #191
At the time of reporting, I was installing from the latest git commit, so I think so.

[2021-03-20 09:50] AdnanHodzic commented on #191
Could you please include output of:
[code]

[2021-03-20 09:54] theol0403 commented on #191
[code]

[2021-03-27 14:54] Acsigen opened #192 "Cannot deploy on Raspberry Pi 4B with Ubuntu 20.04"
### Error output:
[code]
---

### System information:
[code]
---

[2021-03-27 15:00] Acsigen commented on #92
I cannot turn the bluetooth back on after installing auto-cpufreq on Fedora 33 x64

[2021-03-27 19:26] AdnanHodzic commented on #92
@Acsigen if you go to "settings/control center" > "bluetooth" you can't toggle it back on?

When you install auto-cpufreq, bluetooth is **only** disabled at boot, you can toggle it on whenever you want.

[2021-03-28 04:56] Acsigen commented on #92
@AdnanHodzic no, I can't turn it on at all. The only way I managed to turn it on was to disable the daemon and reboot the OS.

[2021-04-23 13:21] Flika1999 opened #193 "Error while installing"
### Error output:
[code]
---

### System information:
[code]
---

[2021-04-27 09:29] lazarosgogos commented on #92
Is this fixed ? I would like to be able to choose bluetooth  to be on on boot.. Any help ?

[2021-04-27 17:03] pheiduck commented on #193
This issue is not related on **auto-cpufreq**
Was a issue on pacman-mirrors which is fixed. Update is available in unstable and testing branch for now.

[2021-05-24 08:55] DietrichChristopeit opened #194 "More a FYI / not really a bug / installation instructions give different results than installation itself"
First and foremost: Thank you very,very much for such a great tool - I have a hypersensitive condition so that I can go bonkers hearing all that fan noise all the time or pulsed. YOU TOOL GAVE ME GREAT RELIEF! THX MILLION TIMES.

I firstly installed it following your manual with snap ``sudo snap install auto-cpufreq`` .

Worked like a charm and I used ``systemctl status snap.auto-cpufreq.service.s